[2015-08-11 09:30] ausi opened #1 "Constant VERSION is not set"
The `VERSION` constant isn’t set in the install tool. If you use something like this in the DCA of an extension:

[code]

It installs the wrong column type.

[2015-08-11 11:44] leofeyer commented on #1
It is not set because you are not supposed to use it anymore :)

[2015-08-11 11:58] ausi commented on #1
OK, I must have missed this deprecation, sorry.
Is there an alternative to get the Contao core bundle version?
Or is it considered bad to check against the version?

[2015-08-14 08:00] leofeyer commented on #1
You can use the `kernel.packages` parameter:

[code]

However, I'm not sure if the parameter is set in the install tool. We may have to add it first.

[2015-08-14 11:13] leofeyer commented on #1
@contao/developers What do you think?

[2015-08-14 11:16] aschempp commented on #1
@leofeyer what's the question? I have no idea about the new install tool, never used it…

[2015-08-14 11:18] leofeyer commented on #1
It is actually not about the install tool but the `VERSION` constant, which we have deprecated. @ausi is using it in his DCA files:

[code]

He now would have to use `kernel.packages` from the container, which makes things a lot more complicated, don't you think?

[2015-08-14 11:27] aschempp commented on #1
it's always more complicated with a more sophisticated system ;-)
The solution for him would be very simple though: if `VERSION` is not defined, it's newer than 3.2.

[code]

[2015-08-14 11:29] leofeyer commented on #1
LOL

[2015-08-14 12:40] ausi commented on #1
The problem I see is that it’s not consistent. The `VERSION` constant is defined if the DCA is loaded from the Contao backend, but not if it’s loaded from the install tool. And if you build the DCA cache via Contao first, the install tool would use it.

[2015-08-14 12:45] aschempp commented on #1
But that would still be solved by my suggestion, right?

[2015-08-14 12:59] leofeyer commented on #1
@ausi You are right, als long as we are maintaining the constants, they should be available in the install tool as well. I have fixed this in contao/standard-edition@64f998a855de98657b9d92f506f605c0d1d3b859.

[2015-08-17 13:59] #1 closed, assigned to leofeyer

[2015-09-01 11:36] jamesdevine opened #2 "Container property is not being set for the System class"
Trying to run the latest install tool is causing the following error for me after logging in to the install tool:

[code]

It looks like the container isn't being set before `\System::getContainer()` is called. `\System::getContainer()` returns null instead of returning the container which causes the error.

A strange side effect of this error seems to be that all of my public assets are being del

[2015-09-01 15:47] leofeyer commented on #2
See https://github.com/contao/standard-edition/issues/21.

[2015-09-01 15:47] #2 closed, assigned to nobody

[2015-09-29 14:06] Toflar opened #3 "Caching issue"
The install.php runs in production mode. This means that whenever you add or edit e.g. DCA files in the "dev" environment, the installation bundle will not notice this because the DcaExtractor checks for the production file cache to exist.

[2015-09-29 14:20] Toflar opened #4 "Cannot modify fields with onload_callback"
The `onload_callback` does not seem to be considered in the `Installer` or the `DcaExtractor`, that's why field modifications there are not being considered.

[2015-09-30 08:15] leofeyer commented on #4
This is the same behavior as in Contao 3, isn't it?

[2015-09-30 08:16] leofeyer commented on #3
So what is your suggestion here?

[2015-09-30 08:16] Toflar commented on #4
Not sure but if it is, then I guess it should be fixed. What's your opinion?

[2015-09-30 08:17] Toflar commented on #3
I think it makes no sense to run the installer in production mode where it caches things...

[2015-09-30 08:17] leofeyer commented on #4
I'm not sure. Is it a bugfix? If yes, how will it affect the existing extensions?

[2015-09-30 08:17] leofeyer commented on #3
Symfony also caches things in dev mode, doesn't it?

[2015-09-30 08:20] Toflar commented on #4
Well the changes are quite obvious. Right now you cannot modify `sql` definitions by an`onload_callback` because the `Installer` ignores it. Either the users have always been wondering why this is and found other solutions (like the `loadDataContainer` hook) or they've just never tried. It is actually a bug fix but it can potentially cause issues if somebody relied on the fact that onload_callback

[2015-09-30 08:21] Toflar commented on #3
Well the main issue is that our `Installer` does not display any changes because it always checks for `prod/cache/sql`. So you cannot develop via `app_dev.php` and then update the database.

[2015-09-30 08:28] leofeyer commented on #3
@contao/developers /cc

[2015-09-30 08:39] ausi commented on #3
Running the installer in dev mode seems right to me.

Is it possible to have a different database connection in dev mode? If so, it should be possible to choose if the installer should run in dev or prod mode.

[2015-09-30 08:40] Toflar commented on #3
Of course it is possible. It's even possible to have your own `foobar` environment :-)

[2015-09-30 09:10] Toflar commented on #3
Simple solution: `install.php`  and `install_dev.php`. But I don't really see why it should run in `prod` environment to be honest.

[2015-09-30 12:12] aschempp commented on #3
I don't think its about the environment. The DCA cache is not necessarily build in prod, but it can also be built in dev. Maybe the install tool should use a custom resource finder that ignores the cache?

[2015-10-08 17:35] leofeyer commented on #3
Fixed in 556aff1fcb17f483ef5feb801662d518661ccb71. The `kernel.cache_dir` is now set to a non existing folder, so the Contao 3 framework will always loop through the source files and never load a potentially outdated cache file.

[2015-10-08 17:35] #3 closed, assigned to leofeyer

[2015-10-13 20:14] discordier commented on #4
Wait a sec, you want to modify the SQL information when a "model" is loaded?
What the hell is that for an usecase?

[2015-10-14 15:31] leofeyer commented on #4
As discussed on Mumble on October 14th, this ticket can be closed.

[2015-10-14 15:31] #4 closed, assigned to nobody

[2015-10-15 14:55] leofeyer opened #5 "Also ask for the mail settings"
This is the follow-up ticket of contao/core-bundle#363.

[2015-10-19 14:38] leofeyer commented on #5
This seems to be unnecessary, because Symfony is configured to use the PHP `mail()` function by default. Only if someone wants to use an SMTP server instead, they have to adjust the `parameters.yml` file. Don't know if we need to provide a GUI for that though?

@contao/developers /cc

[2015-10-19 14:39] Toflar commented on #5
If we can, we should I think.

[2015-10-19 14:42] leofeyer commented on #5
And if so, we should discuss where to offer the GUI. In the install tool? In the back end settings?

[2015-10-20 16:18] aschempp opened #6 "Re-add the backend link"
now that we have the real container, it should be possible to re-add the link to the backend in the install tool, right?

[2015-10-20 18:44] leofeyer commented on #6
I don't think that this was the reason why I have removed it. I will try to re-add it and maybe I will remember :)

[2015-10-21 08:30] leofeyer commented on #6
Re-added in 9b5d6d4782f05f9d6a87c46c252d90bd962acbed.

[2015-10-21 08:39] aschempp commented on #6
Will this work if the installation is not yet complete?

[2015-10-21 08:39] leofeyer commented on #6
The link will not be displayed before the `parameters.yml` file exists and the real kernel can be booted.

[2015-10-21 08:49] aschempp commented on #6
:+1:

[2015-10-21 17:31] aschempp commented on #6
Unfortunately, this does not work. If the installation is in a subfolder (and that's supported because the install tool runs in `dev` environment), the route will always point to `/contao` without the subpath. Should we use `route(…)` instead of `path(…)` (or what was the name)?

[2015-10-21 17:52] leofeyer commented on #6
I'll check.

[2015-10-22 10:00] leofeyer commented on #6
Fixed in d1f4d093980df352bd49b2f49160f1d3793efd8e.

[2015-10-22 10:00] #6 closed, assigned to leofeyer

[2015-10-28 13:26] aschempp opened #7 "Blank page on unsuccessful installation"
If the `parameters.yml` file exists but is invalid, the install tool will simply show an empty page. It would probably make sense to try-catch the kernel booting in the `install.php`

[2015-11-04 12:01] leofeyer commented on #7
Do you mean the `ParseException`?

[2015-11-04 12:03] aschempp commented on #7
I didn't get a `ParseException`, I just got a blank page…

[2015-11-04 12:03] leofeyer commented on #7
How was the `parameters.yml` file invalid in your case?

[2015-11-04 12:07] aschempp commented on #7
As far as I remember, it was created using composer but I simply skipped all the values (DB etc. was null).
This is probably/actually related to the new behavior of the install tool that does not allow to modify existing values…

[2015-11-05 09:51] leofeyer commented on #7
I actually cannot reproduce the issue. The parameters file looks like this after skipping all the values on the command line:

[code]

When I open the install tool, it asks me for the DB credentials, which is correct.

[2015-11-05 10:02] aschempp commented on #7
Maybe you’re on latest develop and I was on 4.0.x stable… ?

[2015-11-05 10:18] leofeyer commented on #7
Maybe. I'll just close the ticket for now and if you or me re-encounter the issue, we'll re-open it.

[2015-11-05 10:18] #7 closed, assigned to nobody

[2015-11-05 16:08] leofeyer commented on #5
As discussed on Mumble on November 5th, this will be solved as soon as we start using Tenside instead of the install tool.

[2015-11-05 16:08] #5 closed, assigned to nobody

[2015-11-06 08:24] aschempp opened #8 "Use the MicroKernel (maybe)"
Symfony has added a new `MicroKernel` in v2.8
https://github.com/symfony/symfony/pull/15990

This could be useful for our case instead of the strange `unbootable` kernel. Needs investigation though.

[2015-11-06 09:30] leofeyer commented on #8
IMHO we do not need this, because the micro kernel adds routing, which we do not use in the install tool. And the unbootable kernel is long gone anyway.

[2015-11-06 09:30] #8 closed, assigned to nobody

[2015-11-16 21:19] aschempp opened #10 "E-Mails are not logged"
Due to the switch to Monolog, E-Mails are no longer logged. The current configuration logs emails to the default logger, which will only log if an error occurs.

[2015-11-16 21:19] aschempp commented on #10
Wrong repo…

[2015-11-16 21:19] #10 closed, assigned to nobody

[2015-11-17 10:44] leofeyer commented on #10
I could have moved the issue ;)

[2015-12-21 20:41] aschempp opened #11 "Cache is deleted on access"
The install tool always deletes all caches when being accessed, even without password …

[2015-12-23 14:58] leofeyer commented on #11
Did you check if it works when the cache is only purged after the admin has logged in?

[2015-12-24 09:18] aschempp commented on #11
What do you mean by _does it work_ ?

[2015-12-25 19:32] leofeyer commented on #11
See #3 for example. Will it break anything if the cache is purged later?

[2015-12-28 19:08] aschempp commented on #11
Well the problem was that DCA files would not be read, which will obviously only be a problem if the admin is logged in…

[2016-03-02 19:41] leofeyer commented on #11
Fixed in 67996cb3419dd5af8110be34fc9e76801486f845.

[2016-03-02 19:41] #11 closed, assigned to leofeyer

[2016-04-26 09:05] ghost opened #13 "4.2.0.-beta1 possible bug: Config class redlecaration"
<a href="https://github.com/DanielSchwiperich"><img src="https://avatars.githubusercontent.com/u/2045722?v=3" align="left" width="42" height="42"></img></a> [Issue](https://github.com/contao/core-bundle/issues/476) by @DanielSchwiperich
April 25th, 2016, 19:07 GMT

Wanted to test #426 in a fresh install and used the new beta release. However when calling the install.php I get the following error:

[2016-04-26 09:05] ghost commented on #13
<a href="https://github.com/leofeyer"><img src="https://avatars.githubusercontent.com/u/1192057?v=3" align="left" width="42" height="42"></img></a> Comment by @leofeyer
April 26th, 2016, 08:04 GMT

How did you install it? `composer create-project`?

[2016-04-26 09:05] ghost commented on #13
<a href="https://github.com/DanielSchwiperich"><img src="https://avatars.githubusercontent.com/u/2045722?v=3" align="left" width="42" height="42"></img></a> Comment by @DanielSchwiperich
April 26th, 2016, 08:18 GMT

No just downloaded the beta release and then did a composer install.
Should have mentioned that I used the standard-edition, but posted the error here since it was caused in a core bun

[2016-04-26 09:07] leofeyer commented on #13
Fixed in 76ca55efa67bc4a385fbdeb3e084eb511c8086f7.

[2016-04-26 09:07] #13 closed, assigned to leofeyer

[2016-05-02 11:38] fritzmg opened #14 "Problem with assets path on license accept view"
In Contao 4.1.3 as well as 4.2.0-beta1, on the page where the license needs to be accepted, I get the following HTML output:

[code]

All assets cannot be loaded, because the URL is preceeded by a forward slash. In fact, when putting `{{ asset('') }}` into the template, it echos `/http://localhost/c42dev/web/`. This happens on every page load (as long as the license is not accepted).

Environment:

[2016-05-02 11:44] fritzmg opened #15 "html lang and body class missing"
In the install tool, the `<html>` language and the `<body>` class are missing in Contao 4.1.3 and 4.2.0-beta1 for some reason:

[code]

It appears the Twig variables `language` and `ua` are set with an empty string.

Interestingly, it works on the license accept page (see HTML source in #14).

Environment:
- Windows 10
- XAMPP 5.6.14
- PHP 5.6.14
- PHP running under CGI

[2016-05-02 11:54] fritzmg opened #16 "unable to open install tool with incomplete localconfig.php"
If your `/system/config/localconfig.php` is incomplete (for whatever reason) and you want to access the Install Tool (`/web/install.php`), the following error happens:

[code]

The error message suggests to "Open the Contao install tool to continue.", however that's exactly what I tried to do ;)

The only way to get out of this is to completely delete the `localconfig.php`.

[2016-05-02 12:01] fritzmg commented on #15
This is because [here](https://github.com/contao/installation-bundle/blob/1.1.0-beta1/src/HttpKernel/InstallationKernel.php#L31)

[code]

`$this->bootHelperSystem();` will not be called anymore, once the `localconfig.php` has been created. And without `bootHelperSystem`, those global Twig variables are not set. This is because `bootHelperSystem` calls `ContainerFactory::create`, which in turn [add

[2016-05-02 12:05] fritzmg commented on #16
This is because [`InstallationKernel::boot`](https://github.com/contao/installation-bundle/blob/1.1.0-beta1/src/HttpKernel/InstallationKernel.php#L31) executes `InstallationKernel::bootRealSystem` once a `localconfig.php` is present and this in turn initializes the Contao framework:

[code]

which in turn calls `ContaoFramework::validateInstallation` at some point, which throws this error.

[2016-05-02 12:35] leofeyer commented on #16
What do you mean by "incomplete localconfig.php"?

[2016-05-02 12:39] fritzmg commented on #16
e.g. with either of these contents:

[code]

[code]

[code]

[code]

[2016-05-12 12:37] leofeyer commented on #14
I cannot reproduce the issue, because there are no absolute URLs on my system. The "asset" function uses `Request::getBasePath()`, which never returns absolute URLs:

[code]

Maybe your local web server is not configured correctly?

[2016-05-12 12:46] fritzmg commented on #14
You are right, it was a problem with the default CGI environment of my current local XAMPP installation.

[2016-05-12 12:46] #14 closed, assigned to nobody

[2016-05-12 12:56] leofeyer commented on #15
Fixed in 5c5e641ee0a47b67bde071185ea17e87cfeb7616.

[2016-05-12 12:56] #15 closed, assigned to leofeyer

[2016-05-12 13:08] leofeyer commented on #16
True, because that is actually how we check if the installation is complete:

https://github.com/contao/core-bundle/blob/master/src/Resources/contao/library/Contao/Config.php#L316

[2016-05-12 13:13] fritzmg commented on #16
Yep I know. This is probably a benign issue, since there is not a valid reason to have a `localconfig.php` present with any of the content described above.

However, conceivably some user might think it's ok to delete the content of the `localconfig.php`, if he wants to reset his install tool password for instance, instead of just removing the respective entry - then it might be confusing to him w

[2016-05-12 15:01] leofeyer commented on #16
They might think so, but they are still wrong. If you remove the entire local configuration, your installation is in fact no longer complete. Therefore it is correct to throw the exception in this case.

[2016-05-12 15:03] fritzmg commented on #16
Yes, but the exception tells you to open the install tool, which is where the exception occurs.

[2016-05-17 11:11] leofeyer commented on #16
Fixed in contao/core-bundle@6bb407c1db5ab6996fe39f1a286422a4a56dda8a.

[2016-05-17 11:11] #16 closed, assigned to leofeyer

[2016-06-20 10:08] fritzmg opened #17 "SQL error in install tool"
After installing Contao `4.2.0` with

[code]

and then opening the Install Tool with `/web/install.php`, I get the following SQL error:

[code]

Someone else encountered the same issue here: https://community.contao.org/de/showthread.php?60137-Installations-Fehler&p=411922&viewfull=1#post411922

[2016-06-20 16:07] fritzmg opened #18 "InstallationKernel redirects to wrong route"
The InstallationKernel redirects to the indexAction of the InstallationController, whenever the system is able to boot:

[code]

https://github.com/contao/installation-bundle/blob/1.1.0/src/HttpKernel/InstallationKernel.php#L70

However, this redirect does not work when you access the Install Tool like this:

[code]

because it will then redirect to

[code]

due to `../`

[2016-06-21 08:16] leofeyer commented on #18
Looks ok to me. You are supposed to set the document root to the `web/` folder.

[2016-06-21 08:28] fritzmg commented on #18
It's no a requirement to run Symfony applications though.

The current redirect is simply wrong. It only works in an environment where you set the document root to `/web` by "chance". For instance, if you open the Install Tool via

[code]

then

[code]

wants you to redirect you _out of the document root_.

So, if you open `http://example.org/install.php`, the InstallationKernel will return the fo

[2016-06-21 08:35] fritzmg commented on #17
There is no entry in `/app/logs/prod.log` btw. (since this is from Contao's Kernel and not via Symfony's Kernel, I assume).

[2016-06-21 19:00] leofeyer commented on #18
I think you are wrong: http://symfony.com/doc/current/cookbook/configuration/web_server_configuration.html

[2016-06-21 19:44] fritzmg commented on #18
It's not required. It's certainly recommended (as it should be), but it's not required. The Symfony application framework will work without setting the document root to the `/web` folder. The [symfony/symfony-standard-edition](https://github.com/symfony/symfony-standard) even comes with default `.htaccess` files in the [`/app`](https://github.com/symfony/symfony-standard/blob/v3.1.1/app) and [`/sr

[2016-06-22 07:41] leofeyer commented on #18
Anyway, its required by Contao. We even have a [listener](https://github.com/contao/core-bundle/blob/master/src/EventListener/InsecureInstallationListener.php) which ensures that the document root is set correctly.

[2016-06-22 10:15] fritzmg commented on #18
Even there you skip the check, if it's running on localhost. This way you can still have a dev environment without having to set the document root to `/web`:

[code]

https://github.com/contao/core-bundle/blob/4.2.0/src/EventListener/InsecureInstallationListener.php#L40

Again, with the current redirect response, i.e. `RedirectResponse('../contao/install')`, you are effectively trying to say **"Mo

[2016-06-22 12:29] fritzmg commented on #18
@ausi showed me, that `../` can alleviate infinite redirects when accessing the InstallationKernel with a trailing slash. For instance, if the redirect response was only `contao/install` and you access the InstallationKernel like this:

[code]

it would cause an infinite redirect loop (`example.org/install.php/contao/install/contao/install/contao/install…`).

With a redirect response of `../contao

[2016-06-22 19:11] ausi commented on #18
AFAIR the `/contao/` part is also configurable.

[2016-06-30 07:09] ghost opened #19 "Install tool: TypeError: $(...) is null"
<a href="https://github.com/Fuzzyma"><img src="https://avatars.githubusercontent.com/u/3540542?v=3" align="left" width="42" height="42"></img></a> [Issue](https://github.com/contao/core/issues/8386) by @Fuzzyma
June 29th, 2016, 16:06 GMT

Iam using contao 4.2. When running the install tool, I get a javascript error in Firefox:

[code]

[2016-06-30 07:09] ghost commented on #19
<a href="https://github.com/leofeyer"><img src="https://avatars.githubusercontent.com/u/1192057?v=3" align="left" width="42" height="42"></img></a> Comment by @leofeyer
June 29th, 2016, 19:26 GMT

Does not happen on my system. Anyone else?

[2016-06-30 07:09] ghost commented on #19
<a href="https://github.com/xchs"><img src="https://avatars.githubusercontent.com/u/1218766?v=3" align="left" width="42" height="42"></img></a> Comment by @xchs
June 29th, 2016, 22:04 GMT

Yep. I can reproduce it on my system (FF, Win).

[2016-06-30 07:28] leofeyer commented on #19
Fixed in contao/core-bundle@f5f26cb8fcb346fc1fd2b93db8e53a3e56b31f09.

[2016-06-30 07:28] #19 closed, assigned to leofeyer

[2016-07-04 11:01] Fuzzyma opened #21 "Running the installer deletes files and destroys symlinks"
I have to admit, that I am not sure, if this is related to the installer. However this bug happened the last time, I run the installer to update my database.

This are the facts:
- My composer links several files into the web-folder of my symfonie application
- It occured several times, that these links get deleted for a random reason but not only this: even the original content which was linked i

[2016-07-04 14:59] leofeyer commented on #21
How can we reproduce the issue?

[2016-07-04 15:03] Fuzzyma commented on #21
Because of the randomness I cant give you a good lead. I will watch our for this closer and will report as soon as I spot something.

Btw: I am on a windows machine. Could be even some odd windows bug...

[2016-07-06 15:04] Fuzzyma commented on #21
I tried again around a bit and found that this problem seems really be related to the install tool.
To check if there are any changes in the vendor directory I run ``composer status -v` which gives me `No local changes`. After pressing `CTRL + F5` in the installation tool tab (not even logged in) I check the same command again and get this:

[code]

(D means deleted)

And THATS only what composer

[2016-07-06 15:08] fritzmg commented on #21
The symlink isn't part of the repository, however, all the files in `vendor/contao/comments-bundle/src/Resources/public` are, that's why composer you tells you that.

You mentioned you are running on windows. What is your exact web server configuration? How are you running PHP?

[2016-07-06 15:11] Fuzzyma commented on #21
Windows 7
php 5.6.23
xampp with vhost

I will gist you my php.ini and apache httpd.conf

// EDIT: Here we go:
- [httpd.conf](https://gist.github.com/Fuzzyma/68309a34c48ee99a6fb1b2c37a13d2cc)
- [php.ini](https://gist.github.com/Fuzzyma/da614364378c719fd207ef38a49d276e)

Well not the symlink, but all files behind this link. They are missing

[2016-07-14 14:31] leofeyer commented on #21
Did you read https://github.com/contao/docs/pull/368#issuecomment-228768913?

[2016-07-14 14:39] Fuzzyma commented on #21
Nope. So you basically suggest to run my php as admin to allow the installTool to create symlinks?
All these symlinks already exist! I just update the database and they still get removed (and what even worse: The content of the orginal folder is deleted).

I mean: For me its not an issue anymore because I now run my database updates with the console. Still its a really strange behavior.

[2016-07-14 14:42] leofeyer commented on #17
The `kernel.terminate` event triggers the `contao.listener.command_scheduler` listener, which then tries to run the cron jobs. Of course this fails if the table is not yet available.

[2016-07-14 14:42] ghost commented on #17
The issue has been moved to contao/core-bundle#541.

[2016-07-14 14:42] #17 closed, assigned to nobody

[2016-07-14 14:50] leofeyer commented on #21
Yes, but it is an XAMPP issue, not a Contao issue.

[2016-07-14 14:50] #21 closed, assigned to nobody

[2016-07-14 14:53] fritzmg commented on #21
If he is running PHP with FastCGI the issue should be further investigated. But of course I would need complete reproduction steps for that. So far I haven encountered anything like that.

[2016-07-14 15:00] Fuzzyma commented on #21
Even if it is not an contao issue, it is caused by a command which comes from the install Tool. It would already be good to know which command causes this and WHY. Because creating symbolic links is one thing. But removing symlinks or even deleting files is a completely other one.

@fritzmg all I know is above. I could try to run my xamp in fastcgi though...

[2016-07-14 15:06] fritzmg commented on #21
Due to bugs in PHP, symlink support is limited when not running PHP via FastCGI (regardless of Contao).

[2016-07-15 08:10] leofeyer commented on #18
Fixed in 66eea6d2cb7040133267327c87984aa6e73d45ec.

[2016-07-15 08:10] #18 closed, assigned to leofeyer

[2016-07-27 18:58] leofeyer opened #24 "Add a script handler to run the database update classes"
Currently we have the following database update classes in the installation bundle:
- `Version330Update`
- `Version350Update`
- `Version400Update`
- `Version410Update`
- `Version430Update`

They are run if the user opens the install tool but shouldn't there be a Composer `post-update-cmd` script handler executing them? @contao/developers

[2016-07-28 10:31] Toflar commented on #24
I don't think that migration should take place automatically every time you update or install bundles. Migration is something that should actively be monitored by the administrator and thus also be executed manually.

[2016-07-28 10:35] aschempp commented on #24
A composer script handler certainly feels wrong. We should use Doctrine migrations anyway, but I'm not sure if that can easily be bundled in a library.

[2016-07-28 10:44] bytehead commented on #24
I vote also against automatic database updates.

[2016-07-28 11:25] leofeyer commented on #24
It seems you all got the ticket wrong. I am not talking about schema updates, which should definitely not be automated. I am talking about the version updates (see the classes I have listed above); and those have been executed automatically in the install tool ever since. 😄

[2016-07-28 11:27] aschempp commented on #24
I'm very well aware of that. Still a composer script feels wrong, also because it would not be executed on deployment in most cases.

[2016-07-28 11:30] ausi commented on #24
I also wouldn’t expect a composer install or update to change my database. It may be better to print a warning on `post-update-cmd` if the database is out of date.

[2016-07-28 11:32] fritzmg commented on #24
@aschempp why not, aren't you typically executing `composer install` after deployment?

[2016-07-28 11:36] ausi commented on #24
@fritzmg depends on the deployment. You can also package your application with all vendor files and push it to the server(s).

[2016-07-28 11:39] fritzmg commented on #24
True, but then you need to update the database some other way anyway. e.g. By executing the install tool (I am assuming that functionality will still be present?)

[2016-07-28 11:48] aschempp commented on #24
@fritzmg currently I am, but @leofeyer recommended `post-update-cmd` which does not run on install. But your last comment says it all: there must be other ways to run that anyway.

[2016-07-28 11:53] leofeyer commented on #24
Yes, `app/console contao:run-version-updates`.

[2016-07-28 11:55] aschempp commented on #24
Yeah, not sure about that…

[2016-07-28 11:55] fritzmg commented on #24
If that's the only way, then deployments without accessing the console will not be possible anymore. At least not without deploying the complete (updated) database as well.

[2016-07-28 11:58] leofeyer commented on #24
@aschempp So how do you run the version updates without opening the install tool after every deploy?

[2016-07-28 18:07] discordier commented on #24
I would keep the current behaviour of manually starting the migration via both ways.
- accessing the install tool
- executing `app/console contao:run-version-updates`

Performing it automatically in post update feels wrong to me.

[2016-07-28 19:16] aschempp commented on #24
Can we find out how other Symfony apps run their update tasks?

[2016-07-28 23:02] discordier commented on #24
By running `bin/console doctrine:schema:update ...`
or when having orm and migrations `bin/console app/console doctrine:migrations:migrate ...`
We are, once again, in a special position as we do not define final entities in our application but are merely combining them "on the fly" due to our extension support. Therefore the approach of other projects does not really relate here.

[2016-07-29 06:24] aschempp commented on #24
That would only update the **schema**, but not the database content. I'm pretty sure there are migrations for existing data in any of the big Symfony projects (http://symfony.com/en/projects).

[2016-07-29 15:26] discordier commented on #24
@aschempp Sorry but your previous statement is not true, it will migrate what you tell it to migrate, that is what the `preUp`, `postUp`, 'preDown' `postDown` functions are for.

Pseudo code translation of `src/Database/Version330Update.php`

[code]

[2016-07-29 15:55] aschempp commented on #24
Yeah that is possible, I'm just not sure if it's supposed to be for that. There's also Doctrine Fixtures thought that might be the right thing for website templates.

[2016-07-29 16:45] discordier commented on #24
For templates (in other words: dummy data) you are right, fixtures are the way to go.
However, the migrations are exactly for upgrading (and downgrading) a database in terms of versioning.

[2016-08-01 09:04] ghost opened #25 "Redirect during instalation."
<a href="https://github.com/wad2eq"><img src="https://avatars.githubusercontent.com/u/2860728?v=3" align="left" width="42" height="42"></img></a> [Issue](https://github.com/contao/standard-edition/issues/43) by @wad2eq
August 1st, 2016, 07:19 GMT

I'm trying install contao on localhost i put in adress bar localhost/contao/web/install.php i check box i agree with Contidion and i get  redirection do

[2016-08-01 09:04] ghost commented on #25
<a href="https://github.com/leofeyer"><img src="https://avatars.githubusercontent.com/u/1192057?v=3" align="left" width="42" height="42"></img></a> Comment by @leofeyer
August 1st, 2016, 07:29 GMT

You need to set up a document root pointing to the `/web` subfolder, so you can e.g. access the install tool via `http://contao.dev/install.php`.

[2016-08-01 09:04] ghost commented on #25
<a href="https://github.com/aschempp"><img src="https://avatars.githubusercontent.com/u/1073273?v=3" align="left" width="42" height="42"></img></a> Comment by @aschempp
August 1st, 2016, 08:25 GMT

This is a bug I can confirm, localhost is supposed to work with web folder. But for now you can just fix the URL manually by using localhost/web/app.php/contao/install

[2016-08-01 09:04] ghost commented on #25
<a href="https://github.com/leofeyer"><img src="https://avatars.githubusercontent.com/u/1192057?v=3" align="left" width="42" height="42"></img></a> Comment by @leofeyer
August 1st, 2016, 09:03 GMT

It is?

[2016-08-01 09:04] ghost commented on #25
<a href="https://github.com/leofeyer"><img src="https://avatars.githubusercontent.com/u/1192057?v=3" align="left" width="42" height="42"></img></a> Comment by @leofeyer
August 1st, 2016, 09:04 GMT

You are right. 😄

[2016-08-01 09:12] fritzmg commented on #25
Yes, I already pointed that out here: https://github.com/contao/installation-bundle/issues/18#issuecomment-227702049 ;)

The original issue (#18) unfortunately wasn't fixed after all. The problem is, that an empty base URL is set here now: https://github.com/contao/installation-bundle/blob/1.1.2/src/HttpKernel/InstallationKernel.php#L121

[code]

Since the base URL is empty, the router generates r

[2016-08-02 08:33] leofeyer commented on #25
If the `/web` fragment is present, we must assume that URL rewriting has not yet been configured, therefore we would need to redirect to `/web/app.php/contao/install`, wouldn't we?

[2016-08-02 09:19] aschempp commented on #25
Shouldn't the path be automatically handled by the Symfony router or url generator?

[2016-08-02 09:27] leofeyer commented on #25
I think you need to re-read the ticket. :wink:

[2016-08-02 11:20] leofeyer commented on #25
Fixed in 571ae0fac73517c4575e57deec85905bfc98c1b4.

[2016-08-02 11:20] #25 closed, assigned to leofeyer

[2016-08-11 14:03] #24 closed, assigned to nobody

[2016-09-06 17:58] Mynyx opened #26 "Backend-Sprache des im Installtool angelegten Benutzers"
Wenn im Backend ein neuer Benutzer angelegt wird, ist dessen Backend-Sprache standardmäßig die Sprache, die während dem Anlegen des Benutzers eingestellt ist.

Wenn im Installtool jedoch der Benutzer angelegt wird, ist dessen Backend-Sprache stets Englisch. Stattdessen sollte hier auch die Sprache, die im Installtool verwendet wird, gesetzt werden.

[2016-09-06 18:06] Mynyx opened #27 "Installtool-Passwort nicht änderbar"
Im Installtool besteht keine Möglichkeit das einmal gesetzt Installtool-Passwort zu ändern.

[2016-09-06 18:18] Mynyx opened #28 "Initiale Version des im Installtool angelegeten Benutzers"
Das Installtool erstellt keine initiale Version des angelegten Benutzers in tl_version.

[2016-09-07 10:32] leofeyer commented on #27
@contao/developers Brauchen wir das?

[2016-09-08 18:11] discordier commented on #27
Nope, finde ich nicht.
Man kann in diesem Falle durchaus den Eintrag in der config entfernen.

[2016-09-09 04:43] aschempp commented on #27
Seh ich auch so

[2016-09-09 06:03] Mynyx commented on #27
Mit den entsprechenden Hintergrundkenntnissen kann man das natürlich manuell machen, aber diese kann man für den gewöhnlichen User doch nicht voraussetzen?

[2016-09-09 15:08] fritzmg commented on #27
@discordier man kann alles manuell machen, wozu überhaupt ein Install Tool? ;)

[2016-09-13 19:29] discordier commented on #27
Ich sehe den Sinn hier definitiv nicht.
Welcher Usecase ist denn hier vorhanden?

Wenn der user sein Passwort vergessen hat, dann muss er den Eintrag in der config entfernen, da er es zum aendern eingeben muss.

Und mal ehrlich, wer aendert wirklich sein Install tool password?
Das vergebe ich immer random und speicher es mir noch nichtmal, da ich viel schneller bin es zu entfernen, und neu zu verg

[2016-09-14 09:13] ausi commented on #27
In Contao 3 ging es ja bereits. Ich sehe keinen Grund warum man diese Möglichkeit entfernen hätte sollen.

IMO sollte man ein Passwort dort wo man es vergeben kann, auch ändern können.

[2016-09-16 18:29] leofeyer commented on #27
Ich gebe Dir grundsätzlich Recht, allerdings lässt sich das Feature auch nur deshalb umsetzen, weil wir noch in die `localconfig.php` schreiben. Die `parameters.yml` wird hingegen nicht zur Laufzeit geändert, wenn sie einmal angelegt wurde, und sobald das Installtool-Passwort dorthin wandert, fällt die Möglichkeit der Änderung wieder weg. Daher können wir es IMO auch gleich weglassen.

[2016-09-16 22:06] fritzmg commented on #27
War nicht der Plan, dass man mit der Zeit _mehr_ Einstellungen wieder über das Backend machen können wird? Oder passiert das dann bspw. nur mehr über den Contao Manager?

[2016-09-17 06:46] aschempp commented on #27
Die Aussage von Leo halte ich für falsch. Das Passwort wird in der localconfig bleiben, solange es das Install-Tool gibt. Später wird es über den Contao Manager laufen.

Ich finde das Feature trotzdem nicht nötig, das Install-Tool ist für Administrationen und in den extrem seltenen Fällen reicht auch die localconfig.

[2016-09-17 18:33] leofeyer commented on #27
Da hast Du natürlich Recht. Das Installtool-Passwort wird nie in die `parameters.yml` kommen.

[2016-09-17 18:37] fritzmg commented on #27
@discordier

Überall dort wo man ein Passwort setzen kann, wird man es evt. auch verändern wollen. Usecases von nicht erfahrenen Contao Benutzern fallen dir da bestimmt welche ein. Selbst als erfahrener Benutzer kann es für dich sicher mal convenient oder evt. sogar notwendig sein, das Passwort über das Install Tool zu ändern.

Du solltest hier nicht von dir auf Andere schließen. Nur weil du das s

[2016-09-21 08:23] leofeyer commented on #26
Behoben in 64588df7185c6c2f8bb53fa62bbd5748cfde3ed7.

[2016-09-21 08:23] #26 closed, assigned to leofeyer

[2016-09-21 08:30] leofeyer commented on #28
Das ist unerheblich, da die initiale Version bei der ersten Änderung des Benutzers angelegt wird.

[2016-09-21 08:30] #28 closed, assigned to nobody

[2016-09-27 21:06] Mynyx opened #29 "Robots Meta-Tag"
Wie bei `/contao/login` sollte bei `/contao/install` auch das Meta-Tag `<meta name="robots" content="noindex,follow">` gesetzt werden.

[2016-09-28 08:37] leofeyer commented on #29
Hinzugefügt in 016ad7f82c416b025e2ab587d748d60b0fd5ef90.

[2016-09-28 08:37] #29 closed, assigned to nobody

[2016-09-28 17:03] Mynyx opened #30 "Installtool Entsperren"
Nach mehrfacher falscher Passworteingabe erscheint folgende Fehlermeldung:

[code]

Das Installtool ist jedoch weiterhin gesperrt.

[2016-09-28 18:10] stefansl commented on #30
Das hat nichts mit dem Cache zu tun. Da steht ein Eintrag in der tl_member Tabelle, dass der Benutzer gesperrt ist. Entweder darin den lock auf 0 setzen oder 5 Minuten warten.

[2016-09-28 18:11] Mynyx commented on #30
Der Login zum Installtool hat mit der tl_member Tabelle doch nichts zu tun?

[2016-09-28 18:21] stefansl commented on #30
Sorry, stimmt. In dem Fall wird das über die /system/localconfig.php gesteuert.
$GLOBALS['TL_CONFIG']['installCount'] = 3;

siehe https://github.com/contao/installation-bundle/blob/master/src/InstallTool.php#L106-L117

[2016-09-28 18:25] Mynyx commented on #30
Nein, auch mit der `localconfig.php` hat das nichts zu tun.

Siehe https://github.com/contao/installation-bundle/blob/master/src/InstallTool.php#L124

[2016-09-29 05:53] fritzmg commented on #30
I can confirm that running

[code]

will _not_ clear the `contao.cache` and thus will not reset the `login-count`. Only

[code]

will work - this clears the whole cache though, not just `contao.cache`.

[2016-09-29 08:36] leofeyer commented on #30
Ja, das Installtool läuft im `prod` Environment, daher muss man lokal `--env=prod` anhängen. Auf dem Live-Server sollte automatisch das `prod` Environment ausgewählt sein.

[2016-09-29 08:36] #30 closed, assigned to nobody

[2016-09-29 09:09] fritzmg commented on #30
@leofeyer but if `cache:clear` is the right command, then the description in the Install Tool is wrong. It tells you to execute

[code]

Which does not work.

https://github.com/contao/installation-bundle/blob/1.1.5/src/Resources/translations/messages.en.xlf#L19

[2016-09-29 11:35] fritzmg commented on #30
This needs to be updated in the transifex translations I am guessing.

[2016-10-04 08:57] fritzmg opened #32 "install tool does not (cannot) display errors of install commands"
If some errors happen while running `InstallationController::runPostInstallCommands` for example, the errors will not be displayed to the user and the installation might be left in an incomplete state without him knowing. For instance, if some errors happen while creating the symlinks, e.g.:

[code]

These errors are catched by the command and then written to the `SymfonyStyle` object, which creat

[2016-10-12 19:35] fritzmg commented on #30
Ah, jetzt verstehe ich, warum das Kommando ursprünglich nicht funktioniert hat.

Automatisch wird aber nicht zwischen lokalen und live Server unterschieden (wie auch), man muss dafür in seiner Shell die Umgebungsvariable `SYMFONY_ENV` selbst auf `prod` setzen.

@Mynyx du musst `php app/console doctrine:cache:clear contao.cache --env=prod` benutzen oder zuvor `SYMFONY_ENV` auf `prod` in deiner Shel

[2016-10-13 14:04] leofeyer commented on #32
Implemented in 848084bb7eb48e51f202e67c00330082a0667db0.

<img width="817" alt="" src="https://cloud.githubusercontent.com/assets/1192057/19352058/b2c7404a-915e-11e6-8358-67b74cc17416.png">

[2016-10-13 14:04] #32 closed, assigned to leofeyer

[2016-10-24 13:35] fritzmg commented on #32
Btw. the same problem exists on various other places, where commands are invoked. For instance, if the creation of symlinks fails here: [core-bundle/src/Resources/contao/dca/tl_files.php#L685](https://github.com/contao/core-bundle/blob/4.2.4/src/Resources/contao/dca/tl_files.php#L685) there will be no entry in the symfony log or system log indicating what the problem might have been.

[2016-11-15 16:11] leofeyer commented on #32
Changed in contao/core-bundle@8003d04aaca8bf1ccb09a7be254fce6d512fb6f0.

[2016-12-01 11:24] fritzmg opened #34 "ContainerFactory hardcodes some directories to /var/…"
Try the following scenario:

1. Install Contao `4.2.5` via `composer create-project contao/standard-edition <target> 4.2.5`.
2. Open `example.org/install.php`.
3. Update the installation to Contao `4.3.0` via `composer update`.
4. Delete the `/system/logs` symlink.
5. Open `example.org/install.php`.

The creation of the symlink for `/system/logs` in the Contao Install Tool will fail, because the `

[2016-12-01 11:26] fritzmg commented on #34
Another problem occurs when the `InstallationController` generates the `bootstrap.php.cache` file [here](https://github.com/contao/installation-bundle/blob/1.2.0/src/Controller/InstallationController.php#L152). The cache directory is hardcoded to `/var/cache`: [ContainerFactory.php#L52](https://github.com/contao/installation-bundle/blob/1.2.0/src/DependencyInjection/ContainerFactory.php#L52) - thu

[2016-12-01 12:28] stefansl commented on #34
I can confirm this. Tested this on two different linux machines.

[2016-12-01 15:08] leofeyer commented on #34
We need to use `$cacheDir = $kernel->getCacheDir()` and `$logsDir = $kernel->getLogsDir()`.

[2016-12-01 15:19] leofeyer commented on #34
Fixed in 53370d95669ff5084ab6ef64bdcae699213c6f6d.

[2016-12-01 15:19] #34 closed, assigned to leofeyer

[2016-12-02 23:05] nkirstein opened #35 "Allow more special characters in database names"
As per [this](https://github.com/contao/installation-bundle/commit/a0a4d8fb15abedd7b320bbb28aa5402d73f6aad1) commit the install tool no longer allows special characters in database names except `$` and `_` . That can be a problem because some hosters don't allow you to choose database names freely. On HostEurope WebPacks, for example, database names always start with `wp123456789-`. You can choose

[2016-12-03 08:19] fritzmg commented on #35
Related: https://github.com/contao/core-bundle/issues/593

[2016-12-03 10:16] leofeyer commented on #35
Even though it is a duplicate, at least the ticket is in the correct repo. 😄

[2016-12-19 17:07] leofeyer commented on #35
I have reverted the changes in 28e8efc1e3e3acd833994411039cfaffe7b7a7de.

[2016-12-19 17:07] #35 closed, assigned to nobody

[2017-01-04 17:18] binarious opened #39 "Variable "database_error" does not exist."
`/contao/install` throws the following error when the database doesn't exist:
[code]

Steps to reproduce:
- `composer create-project contao/standard-edition contao-test`
- Enter invalid db settings
- Start webserver
- Navigate to https://youraddress/install.php and accept the license
- Enter password and submit

Environment:
- macOS 10.12.2
- PHP 7.0.14 (via fpm-fcgi)
- webserver: Caddy 0.9.4
- Co

[2017-01-05 08:20] leofeyer commented on #39
Here's how you can fix it until the release of version 1.2.2:

https://github.com/contao/installation-bundle/commit/5f5db007a0fa7784d9456835bbd6bfce39019965#diff-e7a6ffda6efa8c6996042c3f045a8caeR7

[2017-01-05 13:30] leofeyer commented on #39
Fixed in b7988263a51f7b469630ded2bbad15419e51c4c4.

[2017-01-05 13:30] #39 closed, assigned to leofeyer

[2017-01-19 20:27] ghost opened #40 "Change /web to /public_html"
<a href="https://github.com/t-me"><img src="https://avatars.githubusercontent.com/u/14944366?v=3" align="left" width="42" height="42"></img></a> [Issue](https://github.com/contao/standard-edition/issues/51) by @t-me
January 19th, 2017, 21:15 GMT

Hello All,

I want to change the "/web" directory to "/public_html".

When i follow this link : [symfony.com/override-the-web-directory](http://symfony.c

[2017-01-19 20:47] leofeyer commented on #40
I doubt that this is possible in Contao 4.3. We have made quite some efforts to support a custom directory structure in version 4.4, but there are still a lot of hard corded references to `/web`, which we cannot change without knowing the path to the web folder in Symfony. And by design, Symfony does not know it (only Composer does).

@contao/developers /cc

[2017-01-19 22:59] Toflar commented on #40
Imho this is simply a platform requirement just like the php version etc.

[2017-01-19 23:46] fritzmg commented on #40
A customizable web folder is no unusual requirement though.

[2017-01-20 07:39] leofeyer commented on #40
@t-me Actually you are supposed to put everything into the `public_html` folder and then route your domain in cPanel (or whatever hosting control panel there is) to the `web` subfolder.

Correct. That's why we are trying to support it in version 4.4. But it is not trivial (see above).

[2017-01-20 19:38] t-me commented on #40
@leofeyer Thanks for your comment on putting everything in the 'public_html'
I have DirectAdmin as control pannel but can not change the virtualhost file.

I found another solution it is not ideal but it does the trick.

[Found it here...](https://github.com/roots/bedrock/issues/180#issuecomment-104237989)

	Options -Indexes
	# .htaccess primary domain to web redirect
	# this file must be in the (

[2017-01-20 20:05] leofeyer commented on #40
I have found hard coded references to `/web` in at least the following files:

 * `src/Resources/contao/library/Contao/Combiner.php`
 * `src/EventListener/InsecureInstallationListener.php`
 * `src/Resources/contao/library/Contao/Image.php`
 * `src/Resources/contao/library/Contao/Automator.php`
 * `src/Resources/contao/controllers/FrontendCron.php`

The news and calendar bundles also write into the

[2017-01-23 11:03] leofeyer commented on #40
As discussed at the developer's meeting, the parameter shall be named `contao.web_dir`.

[2017-01-23 12:25] leofeyer commented on #40
Added the parameter in contao/core-bundle@b307ac43797f6ec7a1036e5c529edcf975aed1ac as basis for the upcoming pull requests.

[2017-01-23 12:26] leofeyer commented on #40
@t-me BTW, the easiest solution probably would have been a symlink from `public_html` to `web`.

[2017-01-24 23:20] leofeyer commented on #40
Fixed in contao/core-bundle@8a74bb16f659e5c79b6c428c33360dc3f42264a6.

[2017-01-24 23:20] #40 closed, assigned to nobody

[2017-01-30 20:21] backbone87 commented on #27
Soll das denn im Sinne einer "Passwort vergessen" Funktion sein oder einfach nur "Passwort ändern"?

[2017-02-07 10:14] digitalingenieur opened #41 "InstallTool logException"
In Contao Managed Version the path to the log file should be something like

`$this->rootDir.'/../var/logs/prod-'.date('Y-m-d').'.log'`

in InstallTool.php, Line 395

[2017-02-07 14:36] ghost commented on #41
The issue has been moved to contao/manager-bundle#17.

[2017-02-14 10:55] leofeyer commented on #41
Fixed in d3bc4e615f11a0ccb56e11ff63a6fafd30d7396f.

[2017-02-14 10:55] #41 closed, assigned to leofeyer

[2017-02-14 11:30] Toflar opened #43 "Cannot install managed edition"
Not sure but I guess this should solve it:

[code]

/cc @aschempp @leofeyer

[2017-02-14 13:10] leofeyer commented on #43
As briefly discussed in Slack, this will not work, because the framework would not be fully booted. Fixed in contao/core-bundle@8a79abf5d7a9f2e50eb0961bcc8f99ae404792ac now.

[2017-02-14 13:10] #43 closed, assigned to nobody

[2017-03-01 11:06] fritzmg commented on #25
This is a problem again in `contao/standard-edition` and `contao/managed-edition`. Accessing `http://localhost/contao4/web/install.php` redirects to `http://localhost/contao/install`.

[2017-03-10 14:47] aschempp opened #46 "Install-Tool can't handle ORM without migrations"
If Doctrine Migrations is not installed, the install tool will not detect ORM entities and suggest to drop the respective tables.

I really doubt anyone is actively using ORM but not the CLI for DB, but who knows…

[2017-03-14 15:12] leofeyer commented on #46
Is there anything we can/should do to fix this?

[2017-03-14 17:00] aschempp commented on #46
Pretty sure there is something we can do, but I don't have time to dig the code atm.

[2017-03-15 20:14] aschempp commented on #46
See contao/core-bundle#725

[2017-03-15 20:14] #46 closed, assigned to nobody

[2017-03-28 14:21] alnv opened #48 "Update-Assistent erkennt Tabellen ohne "tl_" prefix"
Tabellen ohne "tl_" prefix können mit dem Update-Assistent gelöscht werden.

![install-error](https://cloud.githubusercontent.com/assets/1192057/24413391/93f318f6-13db-11e7-9f16-7227da423edb.png)

Gibt es hierfür eine Lösung?

[2017-03-28 15:25] leofeyer commented on #48
@contao/developers /cc

[2017-03-28 17:24] aschempp commented on #48
Die korrekte Lösung ist, dass Erweiterungen die entsprechenden Informationen bereitstellen.

[2017-03-28 20:59] fritzmg commented on #48
@aschempp in der Datenbank können ja auch Tabellen vorkommen, die gar nichts mit der Contao Installation zu tun haben. Welche Extension sollte dann solche Informationen bereit stellen?

Darüberhinaus informiert das Install Tool ja, dass generell nur Tabellen mit dem `tl_` Prefix berücksichtigt werden, was aber momentan nicht der Fall ist, wie es scheint.

[2017-03-28 22:44] discordier commented on #48
@aschempp Da muss ich leider @fritzmg zustimmen, wir myssen weiterhin alle anderen Tabellen ignorieren, sonst brechen uns alle Systeme zusammen. Zumal der Text ja auch noch besagt dass Contao an den Tabellen nicht herumspielt.
Ist das evtl. durch den change wegen den migrations nun so gekommen?

[2017-03-29 08:53] aschempp commented on #48
Ohne diesen Change funktioniert halt alles was mit Doctrine ORM zu tun hat nicht mehr… Aus meiner Sicht sollte es in derselben Datenbank keine Tabellen geben welche nichts mit der Applikation zu tun haben.

Falls wird das wirklich ändern wollen liegt die Lösung wohl im Doctrine Schema Filter (http://symfony.com/doc/current/bundles/DoctrineMigrationsBundle/index.html#manual-tables)

[2017-03-29 08:59] Toflar commented on #48
Also ich hätte gerne, dass alle Tabellen angezeigt werden. Der `tl_`-Präfix hat für mich noch nie Sinn ergeben. Das stammt aus einer Zeit, als man mehrere Applikationen auf derselben Datenbank laufen liess. Dafür gibt es heute m.M.n. kein valides Argument mehr. Und wenn jetzt gleich einer mit "Hosting Datenbanklimit" kommt: Nein, das ist kein Argument.

Aber es wär trotzdem gut, wenn man dem Insta

[2017-03-29 12:16] discordier commented on #48
Also meine Tabellen in MetaModels fangen alle mit `mm_` an damit Contao eben NICHT daran rumspielt.
Da soll keiner einfach dran rum machen ohne dass ich es ihm explizit sage.
Explizit meint hier: Mein Code oder Migrations die ich definiere.
Explizit meint hier nicht: Autmagischer Code welcher die Datenbank einliest und meint das gehoert weg weil er es nicht kennt.
@frontendschlampe und @backbone87

[2017-03-29 12:23] leofeyer commented on #48
Das sehe ich auch so.

[2017-03-29 12:43] aschempp commented on #48
Die einfache und (imho) korrekte Lösung hierfür ist einfach dass MM diese Informationen dem Schema-Tool zur Verfügung stellt. Dieselben Probleme hast du sonst wenn du Doctrine Migrations oder `doctrine:database:update` nutzen willst, der löscht dann nämlich entsprechende Tabellen auch.

[2017-03-29 13:19] discordier commented on #48
Doctrine kann ich es aber sagen, beim Schema tool weiss ich dies nicht, allgemein ist dies nun eine Aenderung welche nicht einmal mehr mit der Dokumentation ihrer eigenen Funktion in Einklang ist und somit streng genommen ein bc break.

Nunja, es hat ja schon mit der Applikation zu tun, da die Tabellen aus Contao heraus verwaltet und verwendet werden, nur eben nicht per `DC_Table` und install tool

[2017-03-29 13:21] aschempp commented on #48
Wenn du es Doctrine sagen kannst, dann auch dem Schema Tool 😂
Das Install-Tool kann mittlerweile alles was Doctrine Schema kann, entsprechend sehe ich da kein grosses Problem…

[2017-03-29 15:18] backbone87 commented on #48
das doctrine schema tool ist in keinster weise als ersatz für ein DBA-assistenten gedacht. es bildet (wie das contao 3.5er db-tool) nur eine teilmenge der DDL ab (und diese teilmenge ist nicht mal SQL92-vollständig).

doctrine rät davon ab das schema tool für komplexere systeme einzusetzen und stattdessen auf migrations zu setzen. das schema tool is für rapid development gedacht, um nicht das ganz

[2017-03-29 16:30] aschempp commented on #48
Ich bin mir nicht sicher worauf du deine Aussage beziehst, Doctrine Migrations nutzt genauso Schema diffs zu generieren.

[2017-03-29 17:19] discordier commented on #48
Noe, es generiert Klassen mit dem diff den es versteht und laesst alles andere dir.
Weiterhin kannst du die Up und down auch komplett von Hand ohne schema diff erzeugen.
Im Ergebnis kommt es auf's selbe raus, du hast hinterher konkrete Klassen die Queries feuern beim up/down grade anstatt dass das Tool automagisch entscheidet wie es denn nun die Tabellen in Ordnung biegt. Das ist der ganze Sinn hi

[2017-03-29 17:51] aschempp commented on #48
Begrenzt wahr. Was es nicht versteht wird es vermutlich löschen wollen, genauso wie das Install Tool. Klar kann man von Hand anlegen, das nützt aber unseren Anwendern nichts.

Der Schritt auf's Schema Tool bringt uns jedenfalls ne Menge, automatische Unterstützung für Foreign Keys Und vermutlich einige weitere Dinge (von ORM und Annotations mal ganz abgesehen).

Anyway, eine Alternative zum Schema

[2017-03-30 10:13] backbone87 commented on #48
Eine zweite dB Connection nur fürs diffen/Updaten mit einem tablename filter

[2017-03-30 10:21] backbone87 commented on #48
Man könnte sogar soweit gehen, dass man die zweite Connection von Hand zusammenbaut und mehrere konfigurierbare prefixe zulässt

[2017-04-25 19:19] backbone87 opened #49 "sqlCompileCommands Hook vanished without replacement"
https://github.com/contao/installation-bundle/commit/f73ed73ec68c6d70409949179359deab5658add4#diff-5417e6764e49e8dea064b342cf1d623fL220

If you want to do anything with views you need this hook unless you are want to build VERY big runonce files.

[2017-04-25 19:33] backbone87 opened #50 "Integrate real DB migrations"
Having a real DB migration framework would open up for a better extension maintenance

possible solution:
- directly use an existing db migration framework (problem: what concepts they provide in terms of plugin based db schemas)
- greatly increase doctrines schema tool features to work with procedures, triggers and views (and ofc contribute this back to the doctrine project)
- build a migrations

[2017-04-26 06:49] Toflar commented on #50
I think no. 3 should never be an option. To me, a combination of 1 and 2 should always be the way to go. We cannot stem yet another project ;)

[2017-04-27 18:42] leofeyer commented on #49
I think @aschempp had to remove the hook in favor of the Doctrine integration.

[2017-04-28 06:55] aschempp commented on #49
I don't think so. I'm just using the core database inspector, so whatever hooks run in Core should run here too. Dunno if we changed something by accident though, remember there was a core parser and one in the installation bundle...

[2017-04-28 10:23] backbone87 commented on #49
I have found the sqlCompileCommands hook in 3 places:
- [contao/core-bundle](https://github.com/contao/core-bundle/blob/master/src/Resources/contao/library/Contao/Database/Installer.php#L247) has the hook, but the Installer from there isnt used anymore?
- [contao/core](https://github.com/contao/core/blob/master/system/modules/core/library/Contao/Database/Installer.php#L242) is 3.5
- [contao/contao

[2017-04-28 10:33] backbone87 commented on #49
https://github.com/contao/core-bundle/blob/master/src/Doctrine/Schema/DcaSchemaProvider.php#L315

you call getFromDca and getFromFile, but these are low lvl function which were only called from the legacy Installer itself, but never from the outside (at least not from the "3 big users": install.php, ER2 client, composer-client). The sqlCompileCommands sits a lvl above at the end of `Installer::com

[2017-05-02 06:59] aschempp commented on #49
Because you want to use Doctrine Migrations and Doctrine Schema Update without requiring the installation-bundle.

I guess this is a bug then we should fix, dunno (and haven't checked) why we're not using sqlCompileCommands.

[2017-05-02 08:11] backbone87 commented on #49
you cant use doctrine migrations anyway together with the installation bundle, because the installation bundle wants to kick everything that doesnt fit into a doctrine schema. you actually want to use doctrine migrations to use the full power of your dbms that is not covered by doctrine schema and schema tool.

because sqlCompileCommands is a hook of contao/core in Installer::compileCommands which

[2017-05-02 08:20] aschempp commented on #49
Not really a broad use case, I never had anything not fitting into the Doctrine Schema, and neither does Contao DCAs by default. Sure you can come up with strange special cases, but that's where Migrations is fore. The core works perfectly the current way.

[2017-05-02 08:22] backbone87 commented on #49
views, triggers, SPs strange special use cases? pls...

i mean the database update is kinda useless, if it cant display whole migration SQL. but thats a topic for the other ticket regarding migrations.

[2017-05-04 01:13] backbone87 commented on #48
ich hab mal ein bisschen rumgeschaut.

mit: `$conn->setFilterSchemaAssetsExpression('/^tl_/')` kann man sicherstellen, dass beim auslesen aus der DB, nur tl_ tabellen genommen werden. siehe https://github.com/doctrine/dbal/blob/ec8fc16604915110eea8046e3ea594c133aee880/lib/Doctrine/DBAL/Configuration.php#L102

jetzt zum problem: https://github.com/contao/core-bundle/blob/master/src/Doctrine/Schema/

[2017-05-04 06:49] aschempp commented on #48
Die Option um `setFilterSchemaAssetsExpression` haben wir in diesem Ticket bereits diskutiert: https://github.com/contao/installation-bundle/issues/48#issuecomment-290026393

Zum DcaSchemaProvider, der erweitert das Doctrine Schema aus DCAs. Das System verhält sich nur anders wenn ORM vorhanden ist, denn dann gibt es einen entsprechenden Event den wir nutzen können, wenn ORM nicht vorhanden ist ge

[2017-05-04 14:08] backbone87 commented on #48
ich möchte den filter nicht permanent setzen, sondern nur zum diffen/auslesen des schemas aus der DB. und soweit ich sehen konnte, hat der schema asset filter nur auswirkungen auf den schema manager von dbal

[2017-05-18 15:01] aschempp commented on #49
see https://github.com/contao/installation-bundle/pull/51

[2017-05-18 15:19] leofeyer commented on #49
Thank you @aschempp.

[2017-05-18 15:19] #49 closed, assigned to aschempp

[2017-05-18 15:29] aschempp commented on #48
see #52

[2017-05-18 15:33] leofeyer commented on #48
Vielen Dank @aschempp.

[2017-05-18 15:33] #48 closed, assigned to aschempp

[2017-05-30 08:16] leofeyer opened #54 "Can no longer install with Doctrine DBAL 2.5"
Doctrine DBAL 2.5 has added the [`server_version`](http://symfony.com/doc/current/reference/configuration/doctrine.html#doctrine-dbal-configuration) parameter. It it is not given, Doctrine tries to read it from the MySQL server, thus enabling a database connection, which leads to an `Access denied for user ''@'localhost'` exception.

![](https://cloud.githubusercontent.com/assets/1192057/26574240/

[2017-05-30 08:17] leofeyer commented on #54
@contao/developers @fritzmg /cc

[2017-05-30 09:32] aschempp commented on #54
Who's Doctrine? The bundle? The bundle extension?

[2017-05-30 09:35] Toflar commented on #54
When does that error happen? When you call the install tool? The screenshot does not include the whole stack trace :)

[2017-05-30 09:40] leofeyer commented on #54
The problem is not limited to the install tool. It occurs everywhere.

<img width="1046" alt="" src="https://cloud.githubusercontent.com/assets/1192057/26577451/b7321f42-452c-11e7-9282-025c5dad0bcf.png">

[2017-05-30 09:45] leofeyer commented on #54
See: https://github.com/doctrine/dbal/issues/990
See: https://github.com/doctrine/DoctrineBundle/issues/351

[2017-05-30 09:50] aschempp commented on #54
The quickest solution would be to add a conflict with 2.5?

[2017-05-30 10:34] aschempp commented on #54
The solution is fairly simple. We cannot assume a complete installation without a working DB connection. Adjust to the following:

[code]

[2017-05-30 10:45] fritzmg commented on #54
@aschempp but this would introduce two additional database queries on each request.

[2017-05-30 11:10] aschempp commented on #54
True, we should probably perform the DB check only when we're in the install tool.

Another option would be to store `isComplete` in the container, but that's rather strange imho.

[2017-05-30 11:28] leofeyer commented on #54
This does not fix the issue, because the problem originates somewhere else.

https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Connection.php#L429

As you can see in the stack trace, the `detectDatabasePlatform()` method is causing the issue, because it tries to connect to the database before the database credentials have been set.

[2017-05-30 11:37] aschempp commented on #54
It does fix the issue in my installation. `detectDatabasePlatform` is only called because someone tries to connect, in my case it's the cron job listener checking if table `tl_cron` exists.

[2017-05-30 12:02] leofeyer commented on #54
Nope, sorry. Your fix is not working.

[2017-05-30 12:21] leofeyer commented on #54
And just so you see that the issue is **not at all** related to the install tool:

<img width="1242" alt="" src="https://cloud.githubusercontent.com/assets/1192057/26582917/2f0ae01a-4543-11e7-911f-f2f568c2e730.png">

[2017-05-30 12:34] aschempp commented on #54
Well to me the install tool must work without DB, everything else cannot work. Idk why the command tries to connect to the database?

[2017-05-30 12:39] leofeyer commented on #54
Because Doctrine DBAL tries to connect to the database to retrieve the version number.

https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Connection.php#L429

And this already happens in `ConnectionFactory::createConnection()`, which is executed upon `$container->get('doctrine.dbal.default_connection');`.

And all of this happens way before the installation controller is even construc

[2017-05-30 12:46] aschempp commented on #54
In my case no connection to the database was made if noone queried something…

[2017-05-30 12:55] fritzmg commented on #54
This error will probably only occur, if you do not allow anonymous connections to your database server (see also https://github.com/contao/core-bundle/issues/736).

[2017-05-30 13:09] leofeyer commented on #54
Yes, that's true. If anonymous connections are allowed, the issue does not occur. But that's rarely the case fortunately.

[2017-05-30 13:21] leofeyer commented on #54
I have commented [here](https://github.com/doctrine/dbal/pull/2671#issuecomment-304875595) to document the issue.

[2017-05-30 13:54] leofeyer commented on #54
BTW, this issue also affects the managed edition:

<img width="1242" alt="" src="https://cloud.githubusercontent.com/assets/1192057/26586696/4b7478f8-4550-11e7-9591-c212c3c5dc97.png">

[2017-05-30 14:00] leofeyer commented on #54
It seems that our [`BinaryStringType`](https://github.com/contao/standard-edition/blob/release/4.4.0/app/config/config.yml#L47-L50) is the reason why the `getDatabasePlatform()` method is called in the [`ConnectionFactory`](https://github.com/doctrine/DoctrineBundle/blob/master/ConnectionFactory.php#L65-L70) class. We might be able to register it in an compiler path to work around it.

[2017-05-30 15:08] mattjanssen commented on #54
Sounds like your GUI config bundle needs to be able to handle when the DB credentials are missing or are no longer valid? Perhaps you could register a `kernel.exception` event listener that disables the `doctrine` config section once a DB `ConnectionException` is thrown. It could do this by either editing config.yml or switching to the "install" environment which would load config_install.yml. Fin

[2017-05-30 15:47] leofeyer commented on #54
@mattjanssen Thanks a lot for your input. Much appreciated.

[2017-05-30 15:48] leofeyer commented on #54
We are now dynamically adding `server_version: 5.1` in the Contao managed edition, if there is no database connection: https://github.com/contao/manager-bundle/commit/06f1f294bedcbe456869145597de0dfa32f352aa

[2017-05-30 19:40] #54 closed, assigned to nobody

[2017-05-31 07:37] aschempp commented on #54
@leofeyer should we add an `is_array` check in https://github.com/contao/manager-bundle/commit/fd465bce6d55491c652dfad49a695485b6dd69b1#diff-e3375107bffc209723fa127bb186d8c6R146 ?

[2017-05-31 07:53] leofeyer commented on #54
If `$extensionConfig['dbal']['connections']['default']` is set, it should always be an array, shouldn't it?

[2017-05-31 08:10] Toflar commented on #54
Unit tests would tell you :P

[2017-05-31 08:19] leofeyer commented on #54
No true in this case. If `$extensionConfig['dbal']['connections']['default']` is not an array, the user has misconfigured the application.

[code]

[2017-05-31 08:19] aschempp commented on #54
Not really, because the data is coming from other bundles. I think the unifying of TreeBuilder is only done after our method. According to https://github.com/doctrine/DoctrineBundle/blob/master/DependencyInjection/Configuration.php#L69 it's actually possible to set the connection details directly in `doctrine.dbal` but I think that's just an unsupported case for us then, especially because we know

[2017-06-19 12:33] fkaminski-dev opened #56 "Installation 4.4.0"
Wenn ich versuche über das Download Archiv (.zip) die Version 4.4.0 zu installieren erhalte ich folgenden Fehler in der log Datei (Die Lizenzabfrage erscheint und dann ist Ende):

`[2017-06-17 17:23:00] app.CRITICAL: An exception occurred. {"exception":"[object] (Doctrine\\DBAL\\Exception\\ConnectionException(co de: 0): An exception occurred while executing 'SHOW FULL TABLES WHERE Table_type = 'BA

[2017-06-19 12:38] fritzmg commented on #56
Other users on the forum have reported the same problem.

[2017-06-19 12:58] joke1 commented on #56
Falls es hilft:
$this->connection->isConnected() in der Funktion canRunDbQuery in \vendor\contao\core-bundle\src\Cors\WebsiteRootsConfigProvider.php gibt an dieser Stelle bereits true zurück.

In der Debug-Bar wurde mir auch ein Database Query angezeigt, obwohl Contao keine Verbindungs-Daten vorliegen.

Ich habe es nun umgehen können, indem ich im xampp Panel den Mysql Server gestoppt habe. Nachde

[2017-06-20 08:52] timgatzky opened #57 "Symlink auf /files Ordner in /web fehlt?"
Hi, fehlt in der abgeschlossenen Installation nicht ein Symlink auf den eine Ebene höher liegenden /files Ordner. Quasi wie es mit /assets geregelt ist?
Damit scheitern alle Dateiabfragen auf Daten in dem /files Ordner, auch z.B. das {{image)) Inserttag.

Habe ich etwas übersehen?

[2017-06-20 11:35] timgatzky commented on #57
Neverming. Hab den Veröffentlichen Status übersehen.

[2017-06-20 11:35] #57 closed, assigned to nobody

[2017-06-20 11:48] fritzmg commented on #56
@fkaminski-dev: which Browser did you use?

[2017-06-20 12:02] fkaminski-dev commented on #56
Chrome hauptsächlich (aber auch mit Firefox o. IE11 probiert) ...

Nachtrag: Firefox stimmte nicht ...
Versuche ich gerade - Scheint mit Firefox zu gehen ...
Melde mich dann nochmals ...

[2017-06-20 14:10] fkaminski-dev commented on #56
Also die Installation über das .zip Archiv o. php composer mit Firefox Browser unter Windows geht.
Gleiches mit Chrome Browser geht nicht (s.o). Allerdings kann ich im Anschluß mit dem Chrome Browser ins Backend.

Die Installation über das .zip Archiv mit Firefox Browser auf der Synology Diskstation geht. Mit Chrome Browser nicht (s.o.). Installation über den Contao Manager bricht nach Downloads a

[2017-06-20 16:39] joke1 commented on #56
Kann ich bestätigen (zip/win10/xampp). Im Firefox & Edge funktioniert es - im Chrome nicht.

[2017-06-20 17:05] fritzmg commented on #56
The cause of the problem is the same as https://github.com/contao/core/issues/8681, basically.

Specifically this code: [WebsiteRootsConfigProvider.php#L44](https://github.com/contao/core-bundle/blob/4.4.0/src/Cors/WebsiteRootsConfigProvider.php#L44)

As mentioned [here](https://github.com/contao/core/issues/8681#issuecomment-289289033) the mere presence of an `Origin` header does _not_ necessaril

[2017-06-20 17:51] fritzmg commented on #54
Is this actually fixed in Contao 4.4.0? I am unable to open the Install Tool once I have removed the anonymous user accounts from my SQL database. Stack trace seems to be the same as posted by @leofeyer

// nvm, suddenly it worked after clearing the dev cache

[2017-06-21 05:31] fritzmg commented on #56
Just to mention it here as well: this problem only occurs under the following circumstances:

* Using a browser that sets the `Origin` request header on `POST` requests.
* Having a local MySQL server running which allows anonymous connections.

[2017-06-21 11:11] arechsteiner opened #58 "4.4.0: Install tool fails without functioning MySQL connection"
I ran into trouble when trying to move a minimal Contao 4.4.0 "Hello World" website that I created through the .zip file (manual installation) to a remote host. The install tool under (contao/install) would throw an error related to MySQL, which makes little sense because obviously I need to use that very tool in order to fix the MySQL connection and point it to the new database.

The problem can

[2017-06-21 11:12] fritzmg commented on #58
As mentioned on the forum, I think this is expected. In Contao 3 you are unable to use the Install Tool as well, if the given database information is incorrect.

Of course it would be nice if the Install Tool still worked without a database connection as well.

[2017-06-21 11:13] fritzmg commented on #58
What exactly do you mean by that?

[2017-06-21 11:19] arechsteiner commented on #58
The installation guide describes how to move an installation using the Installtool, here:

https://docs.contao.org/books/manual/4.3/en/01-installation/moving-an-installation.html

It instructs me to 1) upload the files 2) export/import the database and finally 3) to use the Installtool to actually configure the new database connection.

Step number 3 is impossible if the Installtool requires an al

[2017-06-21 11:24] fritzmg commented on #58
Indeed. Since that part of the manual is taken from Contao 3, it should probably be fixed in Contao 3 as well.

[2017-06-21 11:35] arechsteiner commented on #58
I've tried manually updating parameters.yml before, however that did not work.

The error in the log file still shows the old credentials. I've found [this forum post](https://community.contao.org/de/showthread.php?58109-parameters-yml) instructing me to use `php app/console cache:clear --env=prod` to clear the cache, but the .zip version of Contao doesn't include any folder or file called 'app/co

[2017-06-21 11:37] fritzmg commented on #58
After changing the `parameters.yml` you need to clear the cache.

In the `managed-edition` you can do that via
[code]
or use the Contao Manager.

In the `standard-edition` you can do that via
[code]
Or simply delete the folder `var/cache/prod` manually.

[2017-06-21 11:44] arechsteiner commented on #58
Correct me if I'm wrong but I think the .zip version does not include this `php bin/console cache:clear` command at all. In my local installation there is no bin folder and the command returns `Could not open input file: bin/console`.

Deleting the folder manually did the trick

[2017-06-21 11:46] fritzmg commented on #58
Read my post again ;). `bin/console` is for the `standard-edition` (or any Symfony standard application). Since you are talking about the ".zip version" you are refering to the `managed-edition`.

[2017-06-21 11:50] arechsteiner commented on #58
Ah. I did not realize that the .zip version was also know as the managed-edition. Thanks it all works now.

I still think this should be fixed either in the documentation or in the install tool itself.

[2017-06-21 11:50] fritzmg commented on #58
Agreed.

[2017-06-22 20:56] xchs commented on #27
+1

[2017-06-25 11:18] leofeyer commented on #56
See https://github.com/contao/core-bundle/pull/887 (thank you @fritzmg).

[2017-06-25 11:18] #56 closed, assigned to nobody

[2017-06-26 14:24] leofeyer commented on #58
I don't think we can fix this in the install tool, because the only possible fix is to purge the Symfony cache as soon as the install tool is opened. However, we are only purging the cache after the install tool password has been entered to prevent random people from deleting your cache by simply opening the install tool (which is not a protected route).

So I guess we should update the manual, sh

[2017-06-26 22:09] fritzmg commented on #58
But couldn't a fallback be implemented, when the database connection is not valid? Similar to https://github.com/contao/core-bundle/pull/889

[2017-06-27 08:46] arechsteiner commented on #58
@leofeyer: I'm not too familiar with the Contao code base but there has to be a better way than this, no?

What about a two step process? If the MySQL connection fails after logging in to the install tool, display a prompt "MySQL connection failed, would you like to reconfigure your MySQL settings?". If the user clicks yes, then reset parameters.yml and reconfigure those settings. Or do that autom

[2017-07-10 15:47] fritzmg opened #61 "fatal error when using database password with two %"
## Reproduction

1. Set the password of your MySQL database user to `asd%asd%asd` for example.
2. Install the Contao Managed Edition and open the Install Tool
3. Fill in the credentials of your database user and save.

The following fatal error will occur:
[code]

## Cause

The Install Tool creates the following `parameters.yml`:
[code]
If any of your Symfony parameters contain two `%`, you need t

[2017-07-10 17:23] Toflar commented on #61
It should be single quoted. So

`database_password: 'asd%asd%asd'`

can you check that, pls? :)
Afaik unquoted strings will be (or are already?) deprecated anyway.

[2017-07-10 17:29] fritzmg commented on #61
Hmm, [this article](http://symfony.com/blog/new-in-symfony-3-1-yaml-deprecations#deprecated-starting-scalars-with-characters) only says

But in this case, the `%` is not at the beginning of the unquoted string.

Using `database_password: 'asd%asd%asd'` also does _not_ work. Another user confirmed that [here](https://community.contao.org/de/showthread.php?67339-Passwortbeschr%C3%A4nkung-bei-Contao-

[2017-07-10 20:04] dmolineus commented on #61
Every "%" has to be escaped with a second one no matter if it's at the beginning of not. See http://symfony.com/doc/current/service_container/parameters.html#parameters-in-configuration-files

"If you use a string that starts with @ or has % anywhere in it, you need to escape it by adding another @ or %:"

[2017-07-11 07:35] leofeyer commented on #61
Fixed in 9bd4ea0c3fff9010296befb9a7fdc42719c51a96.

[2017-07-11 07:35] #61 closed, assigned to leofeyer

[2017-07-11 07:35] Toflar commented on #61
Same should be done for `@`!

[2017-07-11 07:38] leofeyer commented on #61
I wonder why the Sf parameter dumper does not do this by default? It also does not add any quotes.

[2017-07-11 07:42] leofeyer commented on #61
Are we supposed to check this ourselves?

[2017-07-11 07:43] Toflar commented on #61
Where did you get that info from?

[2017-07-11 07:44] leofeyer commented on #61
https://symfony.com/doc/current/components/yaml/yaml_format.html#strings

[2017-07-11 07:47] leofeyer commented on #61
There is an [Escaper](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Yaml/Escaper.php) class, which however does not handle `%` and `@`.

[2017-07-11 07:49] Toflar commented on #61
That should be done automatically when you use https://github.com/symfony/symfony/blob/c5cbc83a59eb218d720f31b0c5263e93dbf93a45/src/Symfony/Component/Yaml/Inline.php#L106

[2017-07-11 08:20] leofeyer commented on #61
https://github.com/symfony/symfony/issues/23474

[2017-07-11 08:26] stof commented on #61
The escaping of `%` by doubling them has nothing to do with the YAML component. It is not a YAML escaping. It is a Symfony DI escaping (because `%` is used there to represent the usage of parameters).
If you dump a YAML file which will be parse to configure the DI component, you need to account for several escaping: the content sent to the YAML dumper needs to contain the necessary DI escaping (th

[2017-07-11 08:27] stof commented on #61
Btw, the YAML way of escaping the `%` at the beginning of a value is to quote the value. But this won't escape things for DI at all, as the YAML parsing will still give you a single `%`

[2017-07-11 08:27] leofeyer commented on #61
Thanks @stof for shedding some light on this.

[2017-07-11 08:31] leofeyer commented on #61
Fixed in 263af555f4702487feebe0112eb3d52f4793d843 now.

[2017-07-11 08:32] Toflar commented on #61
Thanks @stof! Makes sense! I still think the fix is wrong, though :-) There's a `DependencyInjection/Dumper/YamlDumper` which handles escaping itself: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php#L342

[2017-07-11 08:44] stof commented on #61
@Toflar you could use this dumper to dump a ContainerBuilder in which you would have added the parameters. But I'm not sure it would work that well.

Btw, inside a parameter, you don't need to double the initial `@` (it has a special meaning only in arguments in the YAML format, not in parameters)

[2017-07-11 08:54] Toflar commented on #61
Ah true, thanks for your comments - highly appreciated :)

[2017-07-11 09:13] leofeyer commented on #61
Removed in 7ce8feb6a9b9d416e4ccfe7556dd5f73f55e5437.

[2017-07-13 14:09] leofeyer commented on #58
Does the issue still occur in Contao 4.4.1?

[2017-07-13 14:16] fritzmg commented on #58
Nope, as far as I tested it, it is fixed now :)

1. Installed Contao 4.4.1 with a valid database connection.
2. Changed the database user credentials on the database server.
3. Opened the Install Tool again - it simply shows the "Database connection" form after entering the password.
4. After updating the credentials via the Install Tool, everything works as expected.

[2017-07-13 15:13] leofeyer commented on #58
🎉

[2017-07-13 15:13] #58 closed, assigned to nobody

[2017-07-24 13:14] m-vo opened #62 "schema manager fails with unknown db types"
I am in the process of migrating a Contao 3.5 installation to version 4 that contains some tables with ``POINT`` and other geometric data types (mysql spatial extension).

When opening the install tool a ``DBALException`` is thrown because doctrine unfortunately doesn't know anything gemoetric column types:

This only happens if the table has a column of an 'unknown type' and the table name starts

[2017-08-01 03:39] dmolineus commented on #62
Maybe you should have a look at https://github.com/creof/doctrine2-spatial

[2017-08-01 21:17] rabauss opened #63 "CacheWarmup missing?"
We use isotope with contao 4 and now we had several problems with missing dca-files in cache after cache:clear. then isotope cannot load the relations correctly (https://github.com/isotope/core/issues/1832).
after calling cache:warmup everything is fine because the cache is recreated.

so I researched in the code and found the 'cache_clearer' in the InstallationController. Now I understand, that a

[2017-08-01 21:21] fritzmg commented on #63
If the cache is cleared without warmup (clearing the cache _with_ warmup is deprecated now), the cache should be automatically built on the next request.

[2017-08-01 21:31] fritzmg commented on #63
There is a `cache:warmup` in the post-update and -install script of the manager-bundle: https://github.com/contao/manager-bundle/blob/4.4.2/src/Composer/ScriptHandler.php#L38

You are right though. Any time you open the install tool and login, the prod cache is deleted. I am not sure it is wise to do that in a regular request. How can one be sure that the cache is built within the same request aga

[2017-08-01 21:32] rabauss commented on #63
yes, i know that with warmup is deprecated.
in my installation the cachedir/contao/dca is not recreated after cache:clear

[2017-08-01 21:41] fritzmg commented on #63
I can confirm that. The internal cache of Contao (config, dca, languages & sql) is __not__ generated under the following circumstances:

* Clearing the cache manually by deleting `va/cache/prod` and then making a front end or back end request.
* Clearing the cache via `cache:clear --no-warmup` and then making a front end or back end request.

The internal Cache of Contao will only be generated whe

[2017-08-01 21:46] fritzmg commented on #63
So may be it should be changed like this:
[code]
Unless clearing the cache is necessary before warmup - then just add the warmup after.

[2017-08-03 12:41] aschempp commented on #63
The Contao internal cache is *optional*, meaning Contao works without it (lower performance though). That's why the cache is not build if you simply clear it, which also helps with development because otherwise you would need to rebuild the cache on every file change.

Not sure what we do about the install tool though.

[2017-08-03 13:41] leofeyer commented on #62
@aschempp /cc

[2017-08-03 14:07] aschempp commented on #62
I think that error originates from Doctrine, so we can't do much about it. @dmolineus has probably the right solution.

[2017-08-03 14:41] #62 closed, assigned to nobody

[2017-08-08 08:32] fritzmg opened #65 "Check for disabled symlink function"
I recently had a problem on a Hoster where the Contao Install Tool was unable to create symlinks for unknown reasons (at the time). Unfortunately, the error message regarding the creation of symlinks will only either be
[code]
(Windows only, see [Symfony/Component/Filesystem/Filesystem.php#L392](https://github.com/symfony/symfony/blob/v3.3.6/src/Symfony/Component/Filesystem/Filesystem.php#L392)) o

[2017-08-08 08:49] Toflar commented on #65
Wtf, who does disable this function? :D Can you also add an issue for the Contao Manager? I think it should check that too.

[2017-08-08 08:59] fritzmg commented on #65
Die Steirer in Österreich ;). But in all seriousness I think this is part of some sort of "recommended" security setting, along with `proc_open`, `exec`, `shell_exec` etc. … security by neutering 🙄

Sure. Also imho the Contao Manager should check for _all_ things that the Contao Check also checks for Contao 4 (unless it does that already, I am not too familiar with the Contao Manager yet).

[2017-08-08 09:12] Toflar commented on #65
Agree. I guess it does for 90% already ;)

[2017-08-08 18:36] leofeyer commented on #65
I also think that this feature belongs into the Contao check. We are not checking other system requirements in the install tool, either.

[2017-08-09 09:52] #65 closed, assigned to nobody

[2017-08-09 18:58] leofeyer commented on #63
Yes, and we are using `cache:clear` at the moment. I know it is deprecated, but it will continue to work until one day we update to Symfony 4.

[2017-08-09 19:07] leofeyer commented on #63
Yes, that is because the Contao cache warmer has been declared optional. @contao/developers Should we make the Contao cache warmer required?

[2017-08-09 19:15] fritzmg commented on #63
Otherwise, whenever a user logs into the install tool, the internal cache of Contao will never be built, without the user knowing about it. Currently you have to execute `cache:warmup` manually after you used the install tool everytime.

And if you solely use the Contao Manager then your only option is doing a package update after using the install tool.

Which would result in quite a ridiculous w

[2017-08-09 21:48] aschempp commented on #63
There is a menu option to rebuild the cache from the Contao Manager!

[2017-08-09 21:49] fritzmg commented on #63
Right, didn't notice that! But still, currently there is no feedback about whether or not the internal cache is built yet (like there used to in Contao 3).

[2017-08-10 08:35] rabauss commented on #63
if the cache is optional, so why is my isotope crashing with "field is not related"???

[2017-08-10 08:36] Toflar commented on #63
Because maybe Isotope is not correctly loading what it needs. If it relies on the cache to be present, this is a bug.

[2017-08-10 13:12] leofeyer commented on #63
As discussed in Mumble on August 10th, 2017, the install tool needs to warm up the cache.

[2017-08-10 14:55] leofeyer commented on #27
Wie am 10. August 2017 in Mumble besprochen, muss das Installtool-Passwort nicht zwangsläufig in der `localconfig.php`-Datei stehen (es kann z.B. auch in der `config.yml` unter `contao.localconfig.installPassword` stehen), daher ist eine "Passwort ändern"-Funktion technisch sehr aufwändig und steht in keiner Relation zum Aufwand. Besonders vor dem Hintergrund, dass das Installtooll auf lange Sicht

[2017-08-10 14:55] #27 closed, assigned to nobody

[2017-08-11 11:22] leofeyer commented on #63
See #66.

[2017-08-11 11:22] #63 closed, assigned to nobody

[2017-09-07 12:43] dmolineus opened #67 "Install tool cache warm up in dev environment"
Since https://github.com/contao/installation-bundle/issues/63 the install tool warmups the cache. When being in dev environment I usually don't warm up the cache. Calling the install tool will always warm up the cache. Shouldn't it only be warmed up in the prod environment?

[2017-09-07 14:51] leofeyer commented on #67
We have just talked about it in Mumble. The cache needs to be warmed up, however the optional warmers must only be warmed up if not in debug mode.

[2017-09-15 11:30] leofeyer commented on #67
Fixed in 31d8e0d150779c8d0072a603719d77bd0db84280.

[2017-09-15 11:30] #67 closed, assigned to leofeyer

[2017-09-20 16:18] rabauss opened #68 "Hook "sqlCompileCommands" not called"
in the contao-standard-edition we have the problem with the extension "pct_customelements_customcatalog" that the hook "sqlCompileCommands" is not called, because a event-listener is missing.

in the managed-edition everything is fine, because there exists an event-listener (InstallCommandListener), that will call "Database/Installer->compileCommands", so that the hooks are executed.

is there an

[2017-09-20 17:44] aschempp commented on #68
What event listener is missing?

[2017-09-20 19:22] rabauss commented on #68
I'm not so familiar with the event-listeners of the managerBundle, so I just guessed the listener because of the name. but don't know the right listener or service...

but i can give you the callstack which will execute the sqlCompileCommands-Hook in managedEdition:

[code]

EDIT:

when i register the `ContaoManagerBundle/Resources/config/services.yml` in the standard-edition the Hook will also be

[2017-09-20 21:02] rabauss commented on #68
please close this issue - obviously the hook is called in standard-edition perhabs my xdebug didn't stop...
so the problem for the extension "pct_customelements_customcatalog" is somethingelse

[2017-09-20 21:20] rabauss commented on #68
ok the hook is called in standard-edtion - so you can close this issue!
there was something wrong with my xdebug or phpstorm...

[2017-09-21 05:49] #68 closed, assigned to nobody

[2017-11-17 10:39] fritzmg opened #72 "Install Tool does not work in dev environment"
## Reproduction

1. Create a new Contao installation via `composer create-project contao/managed-edition`.
2. Create a fresh, empty database.
3. Open the install tool via `example.org/app_dev.php/contao/install`.
4. Accept the license, then enter a password.
5. Enter the database credentials and save the settings.

On the next step you will see the following error message:
[code]
This is because t

[2017-11-17 11:01] Toflar commented on #72
`{% if sql_message is defined %}` :)

[2017-11-17 11:06] fritzmg commented on #72
That's not enough. You want to check if `sql_message` is defined and not empty in this case - since it could be defined, but empty. hence
[code]

[2017-11-21 13:18] ghost opened #73 "app/console doctrine:cache:clear contao.cache is not working"
<a href="https://github.com/WolfNik"><img src="https://avatars1.githubusercontent.com/u/28981892?v=4" align="left" width="42" height="42"></img></a> [Issue](https://github.com/contao/managed-edition/issues/14) by @WolfNik
May 26th, 2017, 14:45 GMT

installed managed edition but app/console doctrine:cache:clear contao.cache is not working, there is no console under app/ while I entered 3 times wron

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/xchs"><img src="https://avatars3.githubusercontent.com/u/1218766?v=4" align="left" width="42" height="42"></img></a> Comment by @xchs
May 26th, 2017, 14:51 GMT

You have to run the scripts via `vendor/bin/*`, e.g.
[code]

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/WolfNik"><img src="https://avatars1.githubusercontent.com/u/28981892?v=4" align="left" width="42" height="42"></img></a> Comment by @WolfNik
May 26th, 2017, 15:02 GMT

that worked as a sudo and afterwards setting the ownership new.

Please change this on the error-message

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/aschempp"><img src="https://avatars0.githubusercontent.com/u/1073273?v=4" align="left" width="42" height="42"></img></a> Comment by @aschempp
May 26th, 2017, 15:21 GMT

What error message?

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/WolfNik"><img src="https://avatars1.githubusercontent.com/u/28981892?v=4" align="left" width="42" height="42"></img></a> Comment by @WolfNik
May 26th, 2017, 15:23 GMT

When install is blocked it says please run: app/console doctrine:cache:clear contao.cache
(just enter 3 time a wrong password at the install screen)

This is not working.

vendor/bin/contao-console cache:

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/aschempp"><img src="https://avatars0.githubusercontent.com/u/1073273?v=4" align="left" width="42" height="42"></img></a> Comment by @aschempp
May 26th, 2017, 15:25 GMT

What do you mean by "install is blocked"? I have never seen such a message.

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/WolfNik"><img src="https://avatars1.githubusercontent.com/u/28981892?v=4" align="left" width="42" height="42"></img></a> Comment by @WolfNik
May 26th, 2017, 15:28 GMT

install the managed edition, after installing and login go back to /contao/install.
Then you are asked for the install password.
Type 3 times a wrong one.
Then reload /contao/install again.
Now it says: P

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/aschempp"><img src="https://avatars0.githubusercontent.com/u/1073273?v=4" align="left" width="42" height="42"></img></a> Comment by @aschempp
May 26th, 2017, 15:31 GMT

You're right, very strange. I have no idea why this command should fix the issue anyway :D

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/WolfNik"><img src="https://avatars1.githubusercontent.com/u/28981892?v=4" align="left" width="42" height="42"></img></a> Comment by @WolfNik
May 26th, 2017, 15:34 GMT

Best solution would be to put an option to the system settings. But this command was not helpful and you find no advice when you search in google. So as a first step change the message to something workin

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/leofeyer"><img src="https://avatars0.githubusercontent.com/u/1192057?v=4" align="left" width="42" height="42"></img></a> Comment by @leofeyer
May 30th, 2017, 09:49 GMT

This is actually just another reason why we should have a `bin/console` entry point.

<img width="803" alt="" src="https://cloud.githubusercontent.com/assets/1192057/26573206/23b5f676-451d-11e7-90f6-32b5

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/leofeyer"><img src="https://avatars0.githubusercontent.com/u/1192057?v=4" align="left" width="42" height="42"></img></a> Comment by @leofeyer
July 13th, 2017, 17:09 GMT

As discussed in Mumble on July 13th, we should use a simple file locking similar to the Lexik maintenance bundle.

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/srhinow"><img src="https://avatars3.githubusercontent.com/u/741418?v=4" align="left" width="42" height="42"></img></a> Comment by @srhinow
November 4th, 2017, 02:04 GMT

Contao 4.4.7
PHP 7.1

Das funktioniert bei mir für die Standart-Edition genauso wenig. Er rödelt zwar kurz nach dem Befehl aber die Block-Fehlermeldung bleibt die selbe.
Wenn ich den Befehlt mehrmals au

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/fritzmg"><img src="https://avatars0.githubusercontent.com/u/4970961?v=4" align="left" width="42" height="42"></img></a> Comment by @fritzmg
November 4th, 2017, 11:58 GMT

@srhinow what the messages does not tell you is that the `bin/console` of Symfony runs in the `dev` environment by default (see [bin/console#L18](https://github.com/symfony/symfony-standard/blob/v3.3.1

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/srhinow"><img src="https://avatars3.githubusercontent.com/u/741418?v=4" align="left" width="42" height="42"></img></a> Comment by @srhinow
November 4th, 2017, 17:07 GMT

i think that i have the Standart-edition and i try all of eny comands with --env=prod and without as sudo  and without.
Where is the SYMFONY_ENV -vaiable? Why can i not reset the install-pw in eny envir

[2017-11-21 13:18] ghost commented on #73
<a href="https://github.com/fritzmg"><img src="https://avatars0.githubusercontent.com/u/4970961?v=4" align="left" width="42" height="42"></img></a> Comment by @fritzmg
November 4th, 2017, 17:34 GMT

Are you sure you have used the following command:
[code]
This works as far as I have tested.

It is an environment variable set by your operating system.

If you just want Contao, you are probably bett

[2017-11-22 14:13] leofeyer commented on #72
Why not add the variable to the default context?

https://github.com/contao/installation-bundle/blob/264566ecdc70cd9b9b3a0518fac05ba582396daa/src/Controller/InstallationController.php#L45

[2017-12-05 07:43] leofeyer commented on #72
Fixed in cd68833f39bf35f013e067dd49a4649188a19778.

[2017-12-05 07:43] #72 closed, assigned to leofeyer

[2017-12-05 08:48] leofeyer commented on #73
Fixed in 828addd4c5b0ecd63cb4cafbbd1c0a03a2c9a538.

[2017-12-05 08:48] #73 closed, assigned to leofeyer

[2017-12-05 17:44] aschempp commented on #73
Shouldn't the file be stored in the cache directory? I mean it's totally fine to remove the install lock if someone removes the cache? Or are we intending to allow locking of the install tool to make it unusable in general?

[2017-12-05 19:28] leofeyer commented on #73
The latter. Just like the maintenance lock file, which we have moved out of the cache directory already for the exact same reason.

[2017-12-15 00:53] xchs opened #77 "The MySQL version check cannot determine the current version"
It appears that the [check for the MySQL version](https://github.com/contao/installation-bundle/commit/0514c650bce809bc8081badcdb1cda291f31eecf) may not always correctly determine the current version:

![screenshot-2017-12-15 contao open source cms](https://user-images.githubusercontent.com/1218766/34021409-0399d2d6-e13a-11e7-9e83-6d7726d9a636.png)

Tested with Contao 4.5.0-RC1 and `mysql  Ver 14.

[2017-12-15 07:05] leofeyer commented on #77
You are using MySQL 5.1.73, so the check is correct.

[2017-12-15 08:33] fritzmg commented on #77
@leofeyer I think the point was that the version (5.1.73 in this case) is not being shown:
[code]

[2017-12-15 08:40] leofeyer commented on #77
Thanks, I didn't notice that.

[2017-12-15 15:06] leofeyer commented on #77
@xchs What does `SELECT @@version as Version` return on your system?

[2017-12-15 15:06] leofeyer commented on #77
And what does `SELECT VERSION()` return?

[2017-12-15 15:09] xchs commented on #77
[code]

[code]

[2017-12-15 15:15] leofeyer commented on #77
Hm, it should work then:

https://github.com/contao/installation-bundle/blob/77da9a750a295b41c775a6ace136d578b1a206a0/src/InstallTool.php#L217-L222

[2017-12-15 15:19] xchs commented on #77
I see. Hmm, I'm gonna try it again.

[2017-12-15 16:44] xchs commented on #77
So, I've tried again: If I change the Twig template `src/Resources/views/configuration_error.html.twig` and replace there the line
[code]
by
[code]
I get an output (i.e. the MySQL version is now displayed):

![screenshot-2017-12-15 contao open source cms 1](https://user-images.githubusercontent.com/1218766/34051539-4714f3d0-e1bf-11e7-9d22-998bd6475712.png)

[2017-12-15 16:46] leofeyer commented on #77
Seems I forgot to remove the `type` parameters. Thank you for debugging this. 👍

[2017-12-15 16:47] leofeyer commented on #77
Fixed in 9297a578c4365e2788956b52d32717f774974e80.

[2017-12-15 16:47] #77 closed, assigned to nobody

[2017-12-19 13:52] backbone87 opened #78 "DB update loads schema of none Contao tables"
https://github.com/contao/installation-bundle/blob/2762a4e103c9c84244c24c3fbb97499c0032e102/src/Database/Installer.php#L98

Here the full database schema is loaded first and non-Contao parts are dropped after.
This causes errors, when database specific column types (like MySQL's POINT) are used in non-Contao database assets, that Doctrine doesnt know about:
[code]

Doctrine's Schema asset filter o

[2017-12-19 15:44] leofeyer commented on #78
@contao/developers Any objections?

[2017-12-20 08:20] aschempp commented on #78
I honestly don't think the problem is in Contao, but in the fact that MySQL specific attributes are used that are not supported by Doctrine. @backbone87 you might want to exclude these tables in the application configuration (via schema filters), which should still work in the install tool

[2017-12-21 14:03] leofeyer commented on #78
Why are we not using the schema filter ourselves?

[2017-12-21 14:06] aschempp commented on #78
because it's an application-wide setting that a bundle cannot configure 😂

[2017-12-21 14:07] leofeyer commented on #78
Managed edition == application, isn't it?

[2017-12-21 14:51] leofeyer commented on #78
As discussed in Mumble on December 21st, we must not overwrite the existing schema filter. If someone e.g. has configured `@^piwik_@`, we would have to merge the regex to `@^(piwik|tl)_@` instead, which is not an easy task.

[2017-12-21 16:23] leofeyer commented on #78
As discussed in Mumble on December 21st, we want to overwrite the schema filter in the install tool.

[2017-12-27 11:32] leofeyer commented on #78
Fixed in bc4067ab857c2ed2391367b6e14a2cbbdad0b2e9 and contao/core-bundle@4967d3a7adc85d0d706d58e9bdf4726563d08983.

[2017-12-29 11:23] ghost opened #80 "Check all innodb_large_prefix requirements"
<a href="https://github.com/fmoessbauer"><img src="https://avatars3.githubusercontent.com/u/9655545?v=4" align="left" width="42" height="42"></img></a> [Comment](https://github.com/contao/core/issues/8484#issuecomment-354433604) by @fmoessbauer
December 29th, 2017, 12:21 GMT

Ah, I was referring to the changelog on contao.org: https://contao.org/de/changelog/versions/4.5.html

For me, all settings

[2017-12-29 11:24] leofeyer commented on #80
We should check all three requirements depending on the MySQL version.

[2017-12-29 12:17] christian-schattat commented on #80
Nachdem das Installtool den Hinweis

ausgegeben hat, habe ich den Hoster darum gebeten, die Option zu aktivieren. Der Hoster hat mich anschliessend darauf aufmerksam gemacht, dass die Option veraltet ist:

Im [MySQL-Handbuch](https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_large_prefix) habe ich folgende Aussage gelesen:

Es ist eigentlich kein Problem, da in der [Read

[2017-12-29 12:26] leofeyer commented on #80
Die Aussage "ist deprecated und kann daher nicht aktiviert werden" ist völliger Blödsinn. Das Flag ist deprecated, weil spätere MySQL-Versionen die Option immer verwenden und man halt dann kein Flag mehr braucht. Deshalb kann man das Flag in MySQL 5.5 trotzdem nutzen!

[2018-01-02 13:13] ghost opened #81 "4.4.11: Install-Tool: Call to a member function getKernel() on null"
<a href="https://github.com/timgatzky"><img src="https://avatars0.githubusercontent.com/u/970730?v=4" align="left" width="42" height="42"></img></a> [Issue](https://github.com/contao/core/issues/8833) by @timgatzky
December 29th, 2017, 10:31 GMT

In der Zip Version auf contao.org scheint es Abweichungen zum composer Paket zu geben. Das Zip quittiert das Install-Tool mit Fehlermeldung.

https://com

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/leofeyer"><img src="https://avatars0.githubusercontent.com/u/1192057?v=4" align="left" width="42" height="42"></img></a> Comment by @leofeyer
December 29th, 2017, 11:33 GMT

Welche PHP-Version hast Du denn auf Deinem Server?

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/Schmidty2"><img src="https://avatars0.githubusercontent.com/u/2067428?v=4" align="left" width="42" height="42"></img></a> Comment by @Schmidty2
December 29th, 2017, 12:34 GMT

Ich hatte den Fehler ebenfalls auf zwei verschiedenen Servern, bei beiden ist PHP 7.0.25 installiert.

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/leofeyer"><img src="https://avatars0.githubusercontent.com/u/1192057?v=4" align="left" width="42" height="42"></img></a> Comment by @leofeyer
December 29th, 2017, 12:41 GMT

Das könnte schon das Problem sein, denn die Zip-Datei ist mit PHP 5.6 gebaut.

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/mlwebworker"><img src="https://avatars2.githubusercontent.com/u/3602676?v=4" align="left" width="42" height="42"></img></a> Comment by @mlwebworker
December 29th, 2017, 12:54 GMT

Kann man das abfangen? Oder vielleicht sogar die ganz provokante Frage: Ist es wirklich sinnvoll die zip-Version weiterhin anzubieten? Um dann auch Erweiterungen nutzen zu können braucht man e

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/timgatzky"><img src="https://avatars0.githubusercontent.com/u/970730?v=4" align="left" width="42" height="42"></img></a> Comment by @timgatzky
December 29th, 2017, 13:06 GMT

In wiefern ist es relevant wie das Zip erstellt wurde. Die extrahierten Daten sind relevant.

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/mlwebworker"><img src="https://avatars2.githubusercontent.com/u/3602676?v=4" align="left" width="42" height="42"></img></a> Comment by @mlwebworker
December 29th, 2017, 13:16 GMT

Was macht Ihr bzw. Eure Kunden, wenn Erweiterungen benötigt werden?

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/timgatzky"><img src="https://avatars0.githubusercontent.com/u/970730?v=4" align="left" width="42" height="42"></img></a> Comment by @timgatzky
December 29th, 2017, 13:19 GMT

Naja, bislang muss ja erstmal das Rückgrat installierbar sein. ;)

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/leofeyer"><img src="https://avatars0.githubusercontent.com/u/1192057?v=4" align="left" width="42" height="42"></img></a> Comment by @leofeyer
December 29th, 2017, 13:27 GMT

@timgatzky Bitte prüf mal, ob das Problem mit der Zip-Datei unter PHP 5.6 auch auftritt.

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/timgatzky"><img src="https://avatars0.githubusercontent.com/u/970730?v=4" align="left" width="42" height="42"></img></a> Comment by @timgatzky
December 29th, 2017, 13:30 GMT

@leofeyer  Ja
Mit der Zip selbst gibts keine Probleme. Die wird entpackt und die Dateien hochgeladen. Da scheint was in der Version zu haken.

@leofeyer Exakt gleiches Verhalten unter 4.5. Quittier

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/fenepedia"><img src="https://avatars2.githubusercontent.com/u/566448?v=4" align="left" width="42" height="42"></img></a> Comment by @fenepedia
December 29th, 2017, 14:47 GMT

Ich kann den Fehler bestätigen.
Wenn ich app_dev.php aufrufe, dann kommt unter PHP 5.6

[code]

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/fenepedia"><img src="https://avatars2.githubusercontent.com/u/566448?v=4" align="left" width="42" height="42"></img></a> Comment by @fenepedia
December 29th, 2017, 14:49 GMT

Bei PHP 7.1 kommt:

[code]

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/timgatzky"><img src="https://avatars0.githubusercontent.com/u/970730?v=4" align="left" width="42" height="42"></img></a> Comment by @timgatzky
December 29th, 2017, 16:03 GMT

Der Fehler entsteht durch eine geänderte Symphony Version in 4.4.11 z.B. gegenüber 4.4.8 mit dem ich getestet habe.

4.4.11: vendor/symfony/symfony/src/Symfony/Bundle/FrameworkBundle/Command/Assets

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/mlwebworker"><img src="https://avatars2.githubusercontent.com/u/3602676?v=4" align="left" width="42" height="42"></img></a> Comment by @mlwebworker
December 29th, 2017, 23:48 GMT

Ich möchte hier noch auf einen zweiten Thread im Forum hinweisen https://community.contao.org/de/showthread.php?69237-Installation-Contao-4-5-scheitert. Auch dort geht es um eine Installation

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/fritzmg"><img src="https://avatars0.githubusercontent.com/u/4970961?v=4" align="left" width="42" height="42"></img></a> Comment by @fritzmg
December 31st, 2017, 10:31 GMT

Symfony wird mit `^3.3` required. Theoretisch sollten da keine Änderungen kommen, die nicht rückwärtskompatibel sind.

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/timgatzky"><img src="https://avatars0.githubusercontent.com/u/970730?v=4" align="left" width="42" height="42"></img></a> Comment by @timgatzky
January 2nd, 2018, 12:51 GMT

Der Fehler ist glasklar durch die Änderung in den Symphony Dateien aufzeigbar. Mag sein, dass der composer inzwischen andere Dateien saugt als das zu der Zeit als das Zip gepresst wurde. In diesem Fa

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/fritzmg"><img src="https://avatars0.githubusercontent.com/u/4970961?v=4" align="left" width="42" height="42"></img></a> Comment by @fritzmg
January 2nd, 2018, 12:54 GMT

@timgatzky schon klar. Ich wollte nur erwähnen, dass sich bei einem neuen Contao minor oder bugfix release zwar durchaus die Symfony Version ändern kann - aber wenn dann nur die minor Version.

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/dmolineus"><img src="https://avatars2.githubusercontent.com/u/1186266?v=4" align="left" width="42" height="42"></img></a> Comment by @dmolineus
January 2nd, 2018, 13:00 GMT

Auch wenn es optimaler Weise keine BC Breaks geben sollte in minor Versionen, so ist symfony 3.4 ja gerade ein Beispiel davon, dass es vorkommt. Allein die Umstellung auf private Services per Defaul

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/timgatzky"><img src="https://avatars0.githubusercontent.com/u/970730?v=4" align="left" width="42" height="42"></img></a> Comment by @timgatzky
January 2nd, 2018, 13:02 GMT

@fritzmg Das Contao durch seinen vorgeplanten Release-Plan seinem eigenen Kredo was ein Bugfix-Release und was ein Minor-Release ist, nicht gerecht werden kann, wissen wir ja schon. Seit Contao 4 ist

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/fritzmg"><img src="https://avatars0.githubusercontent.com/u/4970961?v=4" align="left" width="42" height="42"></img></a> Comment by @fritzmg
January 2nd, 2018, 13:04 GMT

In wie fern?

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/timgatzky"><img src="https://avatars0.githubusercontent.com/u/970730?v=4" align="left" width="42" height="42"></img></a> Comment by @timgatzky
January 2nd, 2018, 13:10 GMT

In wie fern?

Auch würde der Druck abfallen zu fixen Zeiten fixe Versionen zu feuern.

[2018-01-02 13:13] ghost commented on #81
<a href="https://github.com/fritzmg"><img src="https://avatars0.githubusercontent.com/u/4970961?v=4" align="left" width="42" height="42"></img></a> Comment by @fritzmg
January 2nd, 2018, 13:18 GMT

Ich kann das Problem ebenfalls mit dem herunterladbarem Archiv von contao.org lokal unter PHP 7.1 reproduzieren.

[2018-01-02 13:15] leofeyer commented on #81
Behoben in dd4006bdc190aba58af55107e31ea55838e1de94.

[2018-01-02 13:15] #81 closed, assigned to nobody

[2018-01-02 16:31] leofeyer commented on #80
Behoben in 1bdf0ec2c8bc9472ee9b3cdb8c6e0f2dd0696659.

[2018-01-02 16:31] #80 closed, assigned to leofeyer

[2018-01-05 07:31] timgatzky commented on #81
Wie sieht es aus? Wird Contao die Symphony Version festpinnen, wie es von David vorgeschlagen wurde?

[2018-01-05 16:47] m-vo commented on #80
Even with `innodb_large_prefix` enabled a problem can occur if the default `ROW_FORMAT` does not get set in the query.

For instance: With MariaDB < 10.2 the `ROW_FORMAT` defaults to `COMPACT` and throws `ERROR 1709 (HY000): Index column size too large. The maximum column size is 767 bytes.` even with  `innodb_large_prefix`  enabled.

Those who stumble across this - you can use the following setti

[2018-01-05 17:12] m-vo opened #82 "install tool fails in dev environment if user table does not exist"
When running the install tool via the `app_dev` entry point there is a query to the user table that might not exist (yet) and therefore will produce an exception. This renders the install tool unusable until the table gets created.

[code]

The query originates here: https://github.com/contao/core-bundle/blob/4.5/src/Resources/contao/library/Contao/User.php#L502 which gets triggered somewhere when

[2018-01-05 17:30] m-vo opened #83 "Schema diff fails with MariaDB 10.2"
I upgraded to MariaDB 10.2.12 (10.2.12-MariaDB-10.2.12+maria~xenial) on my dev machine and noticed that now the schema diff stopped working properly (contao bundles 4.5.1, doctrine/dbal 2.6.3).

I haven't had time to investigate further but here is what I am seeing: There are lots of entries that request to alter tables (even without the tables existing) and - if existing - columns.

This is what'

[2018-01-05 18:15] m-vo commented on #83
Had a quick look in the debugger. It's the same issue as in here: https://github.com/contao/core-bundle/issues/918#issuecomment-315855902

So `_default` equals `"''"` in `$fromSchema` vs. `""` in $toSchema.

(Also: doctrine entities get created successfully but then are missing in the `$fromSchema`. Not sure if this had worked before.)

[2018-01-05 20:48] leofeyer commented on #83
See https://github.com/contao/core-bundle/issues/918#issuecomment-315855902

[2018-01-05 20:48] #83 closed, assigned to nobody

[2018-01-06 10:13] fritzmg commented on #83
@leofeyer all tickets (including https://jira.mariadb.org/browse/MDEV-13132) are closed now, yet the issue still exists.

[2018-01-06 12:51] m-vo commented on #83
I am still not sure if it's a MariaDB  or a doctrine issue. But it looks like it is the latter as doctrine seems to only support MariaDB 10.2. as of v2.7 which is not released yet.

I can confirm that using the current doctrine/dbal dev-master branch solves the default value problem but it could still take a long time until a stable branch will get released. So unfortunately Contao is not compatib

[2018-01-06 16:50] leofeyer commented on #83
Correct, you need Doctrine 2.7 (not yet released).

[2018-01-06 16:54] m-vo commented on #78
This change leads to the following side effect:

The `$toSchema` now also contains regular Doctrine Entities (no `tl_` prefix) that the install offers to create as these aren't filtered anymore. However these entries *are* filtered from the `$fromSchema` which leads to them still beeing in the list (and of course crashing on update because the table already exists).

Imho the installation tool sho

[2018-01-06 17:02] leofeyer commented on #78
I cannot reproduce this. The schema filter is applied to the `$toSchema` as well:

https://github.com/contao/core-bundle/blob/e4f0d29c314d22ca2ac235ff938027f48aaf985b/src/Doctrine/Schema/DcaSchemaProvider.php#L356-L363

[2018-01-06 17:24] m-vo commented on #78
This piece of code only filters the entries from `$installer->getFromDca();` which do not include the entities. Later those filtered definitions get appended to the schema that contains the doctrine entities.

[2018-01-06 17:32] m-vo commented on #78
To reproduce create a simple entity in a bundle and enable the mapping.

[code]

[code]

Clear cache or open the install tool in `app_dev`.

[2018-01-07 08:31] aschempp commented on #82
That's very interesting. The install tool does explicitly not have a firewall (https://github.com/contao/manager-bundle/blob/master/src/Resources/skeleton/app/security.yml#L21-L23) and should therefore not load. Also, where does `Administrator` come from?

Two ideas:
 - `Administrator` is your Windows username?
 - You're using Basic Authentication with a user `Administrator`?

[2018-01-07 11:32] m-vo commented on #82
I'm on linux with no Basic Auth, but you're absolutely right: There is no reference to `Administrator` in the code.

It turns out, that `Administrator` was the admin account earlier on before the tables had been dropped. So this seems to be some dreaded cache (or maybe session) issue (even on `app_dev`?). I've come across this problem some days before as well during development but I'm unfortunate

[2018-01-07 12:12] Seefahrer opened #85 "Calling install tool throws error after update to Contao 4.5.1"
Upon updating Contao to 4.5.1 under MAMP 4.2.1, the install tool throws following error:

`[2018-01-07 11:42:47] request.INFO: Matched route "contao_install". {"route":"contao_install","route_parameters":{"_scope":"backend","_token_check":true,"_controller":"Contao\\InstallationBundle\\Controller\\InstallationController::installAction","_route":"contao_install"},"request_uri":"http://carlito/conta

[2018-01-07 12:36] aschempp commented on #85
Duplicate of #84

[2018-01-07 12:38] aschempp commented on #82
Can you find out (backtrace) who called `User::loadUserByUsername`?

[2018-01-07 12:54] Seefahrer commented on #85
oops, did not realise that above issue has already been addressed in #84.
After replacing line 274 with the updated version, everything is fine!

[2018-01-07 12:54] #85 closed, assigned to nobody

[2018-01-07 12:55] m-vo commented on #82
Damn, there is no full stacktrace in the logs and right now I can't get it to fail. :-/
I'll run the debugger if it appears again.

[2018-01-07 14:28] #82 closed, assigned to nobody

[2018-01-10 11:48] leofeyer commented on #78
Fixed in contao/core-bundle@d5dcabda26cd9610d7c6717df2946745918c4921. Needs to be backported to Contao 4.4, too.

[2018-01-22 11:40] leofeyer commented on #78
Backported in contao/core-bundle@8109786f5d791b769896e155b3673cec5f327cf1.

[2018-01-22 11:40] #78 closed, assigned to leofeyer

[2018-02-18 19:12] fritzmg opened #86 "exception due to notice in PHP date function"
On a 1&1 webspace I encountered this error when opening the install tool:
[code]
The `E_NOTICE` error from the PHP `date()` function (due to a weirdly configured timezone on the webspace) causes the Contao Install Tool to halt completely. Shouldn't such notices be ignored?

[2018-02-28 17:02] agoat opened #87 "Installation with MariaDB>10.3.1 not possible"
The variable `innodb_large_prefix` is deprecated since MariaDB 10.2 and is now removed in version **10.3.1**.

When trying to install contao with a MariaDB 10.3.1+ server the install tool is complaining to set the `innodb_large_prefix` variable which is not available anymore.

When changing the corresponding lines in the [InstallTool.php](https://github.com/contao/installation-bundle/blob/master/s

[2018-02-28 17:14] m-vo commented on #87
btw Contao/doctrine does not even support 10.2, see https://github.com/contao/installation-bundle/issues/83#issuecomment-355745013

[2018-02-28 17:43] agoat commented on #87
Looks like contao resp. symfony (using Doctrine) has general problems with MariaDB ..

[2018-03-01 04:10] aschempp commented on #87
What is the reason for them removing it? Is it enabled by default? Can you point to a page where you found that information?

[2018-03-01 07:21] leofeyer commented on #87
The information is correct. The whole point of deprecating was being able to remove it. 😄

* https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_large_prefix
* https://mariadb.com/kb/en/library/xtradbinnodb-server-system-variables/#innodb_large_prefix

@agoat What does `SHOW VARIABLES LIKE 'innodb_large_prefix'` return on MariaDB 10.3.1? Does it throw an error?

[2018-03-01 07:45] agoat commented on #87
MariaDB returns an empty result (Tested with phpMyAdmin on a MariaDB 10.3.5 server).

But the result of
[code]
is `false`.

[2018-03-01 07:53] agoat commented on #87
MariaDB 10.3.1+ and MySQL 5.8?+ always use 3072 bytes.

[2018-03-01 07:56] leofeyer commented on #87
So basically:

* If `false === $row`: The option does no longer exist -> 3072.
* If `in_array(strtolower($row->Value), ['1', 'on'])`: The option is enabled -> 3072.
* Else: The option is disabled -> 767.

[2018-03-01 08:04] leofeyer commented on #87
Fixed in contao/core-bundle@e5b39f7078f955a6387529d46bd67ecc724736bf.

[2018-03-01 08:04] #87 closed, assigned to leofeyer

[2018-03-01 08:30] agoat commented on #87
The [InstallTool.php](https://github.com/contao/installation-bundle/blob/master/src/InstallTool.php#L267) is checking the `innodb_large_prefix` variable and currently prevents installation with MariaDB 10.3.1+.

But the check for `innodb_large_prefix` is removed in the 4.5 branch (https://github.com/contao/installation-bundle/commit/c829c203ac266cb78aafaf12dcf5f4a87e46ab54). Will this be included

[2018-03-01 08:32] leofeyer commented on #87
Yes.

[2018-03-01 12:40] leofeyer commented on #86
Symfony does not ignore any errors, so this is correct.

[2018-03-01 12:40] #86 closed, assigned to nobody

[2018-03-06 11:10] fritzmg opened #88 "Installation without innodb_large_prefix fails"
Contao 4.5.5 introduced the possibility to install Contao on Database servers without the `innodb_large_prefix` (etc.) options enabled, without having to do any configuration changes.

However, this does not seem to work. Reproduction on my local system:

1. Disable `innodb_large_prefix = ON`, `innodb_file_format = Barracuda`, `innodb_file_per_table = ON`.
2. Run `composer create-project contao/ma

[2018-03-06 11:31] fritzmg commented on #88
kubjo from the Forum says that he uses MySQL `5.7.21`, which supports `innodb_large_prefix` by default. May be his is another problem entirely - the error message, `Specified key was too long; max key length is 3072 bytes` also suggests that.

[2018-03-06 12:01] leofeyer commented on #88
True, the index adjustments are not yet applied to new tables.

[2018-03-06 13:17] leofeyer commented on #88
Fixed in contao/core-bundle@60e1b421bfce97835887e13eddb8f002dc612492. Please test.

[2018-03-06 13:17] #88 closed, assigned to leofeyer

[2018-03-06 13:36] fritzmg commented on #88
Works 👍

[2018-04-15 09:43] mlwebworker opened #91 "Installation with innodb_file_format = Antelope and innodb_large_prefix = On fails"
Wenn innodb_large_prefix an ist aber innodb_file_format nicht auf Barracuda steht tritt folgender Fehler auf

[code]
Contao 4.5.7
Maria DB 10.1.17
PHP 7.2.3
(Webgo)

Siehe dazu auch https://community.contao.org/de/showthread.php?70063-Fehler-bei-der-Installation&p=470636&viewfull=1#post470636

[2018-04-17 15:11] leofeyer commented on #91
Kannst Du bitte mal folgendes testen:

1. Öffne die Datei `vendor/contao/core-bundle/src/Doctrine/Schema/DcaSchemaProvider.php`

2. Finde die Zeile 463:

[code]

3. Lösche die Zeile und füge stattdessen folgendes ein:

[code]

[2018-04-19 10:08] mlwebworker commented on #91
Hat funktioniert. Danke.

[2018-04-19 10:08] leofeyer commented on #91
Bitte noch nicht schließen, ich muss die Änderungen ja noch übernehmen. 😃

[2018-04-19 10:09] mlwebworker commented on #91
ok, da kenn ich mich noch nicht genau aus.

[2018-04-19 11:44] leofeyer commented on #91
So, jetzt. Behoben in contao/core-bundle@7b2c571c6cd83a6e59f2f035162a180295dca644.

[2018-04-19 11:44] #91 closed, assigned to leofeyer

[2018-06-08 13:27] ghost opened #92 "Installation tool does not correctly encode cols named 'row'"
Since newer versions of MariaDB and MySQL, `ROWS` is a reserved keyword.

Unfortunately, some DCA fields in Contao (e.g. `tl_layout.rows`) are named *rows*. The install tool does not quote this correctly as `` `rows` ``:

[code]

This only affects the install tool, internal usage for queries and update statements are escaped correctly.

Issue opened upon request by @Toflar

[2018-06-08 13:39] ausi commented on #92
Probably related: https://github.com/contao/installation-bundle/pull/70#issuecomment-353210582

Which versions of Contao, PHP and MariaDB are you using?

[2018-06-11 06:47] ghost commented on #92
* Contao 4.4.18
 * PHP 7.2.6
 * MariaDB 10.2.8

[2018-06-11 06:48] ghost commented on #92
I am going to provide @Toflar with a demo account for the environment anyway, because of another bug we talked about at the conference. If it helps, the account could also be used for this.

[2018-06-11 06:49] m-vo commented on #92
IIRC MariaDB 10.2 needs Doctrine 2.7 which isn't released yet.

(see #83)

[2018-06-11 11:22] ausi commented on #92
@sleitz Your combination of the Contao, PHP and MariaDB versions should work AFAIK. Can you please also check which version of `doctrine/dbal` is installed?
(Can be done with the command `composer show doctrine/*`)

@m-vo the issue with the `rows` keyword should already be solved in Doctrine 2.6. Also 2.7 [was released in April](https://github.com/doctrine/dbal/releases).

[2018-06-11 11:41] ghost commented on #92
That's a good hint:

    doctrine/dbal                  v2.5.13

[2018-06-11 11:54] ausi commented on #92
That’s the issue. You should update at least to `doctrine/dbal 2.6.0` to fix the problem.

[2018-06-11 12:06] ghost commented on #92
Well, it was not a voluntary choice. That's the version I get when I install the managed edition.

[2018-06-11 15:38] fritzmg commented on #92
The `composer.lock` file of the `contao/managed-edition` is built with the lowest PHP version that is still supported - otherwise you might not be able to run the application after installation. In case of Contao `4.4.18` that's PHP `5.6`. `doctrine/dbal` in version `2.6.0` or higher requires at least PHP `7.1`. That's why the `composer.lock` file of Contao `4.4.18` still contains `doctrine/dbal`

[2018-06-11 15:53] leofeyer commented on #92
We should build the managed edition against PHP 7.1 now that the Contao Manager uses its own composer.json template, shouldn't we?

[2018-06-11 16:03] fritzmg commented on #92
Hm, well what about installation via zip or `composer create-project`? Also won't this error occur on PHP 5.6 in any case?

[2018-06-11 16:27] ausi commented on #92
Yes, but we agreed we don’t want to support PHP 5 with Contao 4.4 and MariaDB 10.2.4, see https://github.com/contao/installation-bundle/pull/70#issuecomment-353210582

[2018-06-11 16:32] fritzmg commented on #92
Right, forgot it depends on the MariaDB/MySQL version. @sleitz you simply need to run a `composer update` in your case, to get the latest dependencies.

[2018-06-12 06:22] leofeyer commented on #92
We could build two zip files, one for PHP 5 and one for PHP 7. But since PHP 5.6 is outdated and only supported until the end of 2018, I don't know if it is worth the effort?

[2018-06-12 06:24] Toflar commented on #92
The zip file is useless anyway. Composer or the Manager should be the only 2 ways allowed to install.

[2018-06-12 06:42] ghost commented on #92
@fritzmg I was using the wrong PHP version in CLI, so the new version did not show up (it requires PHP 7.1 itself), and I was using the 7.0 CLI.

My problem is solved, I guess. Don't know about your other discussion, though.

[2018-06-12 06:44] ghost commented on #92
@Toflar This also solved my other issue… :+1:

[2018-06-15 13:08] leofeyer commented on #92
I agree, however, a `composer create-project` will run into the same issue.

[2018-06-15 13:10] Toflar commented on #92
If we do not provide a `composer.lock` with the managed-edition, everything will work as expected.

[2018-06-28 11:28] fiedsch opened #93 "admin is a reserved word in mySQL 8"
When using contao/install I'm asked to create a admin user though there already exists a user with `admin = '1'` in the database.

When trying to create a (new) admin user an exception is thrown.

Reason:

* `admin` is a reserved word in 8.x versions of mySQL (see https://dev.mysql.com/doc/refman/8.0/en/keywords.html which states : "ADMIN became nonreserved in 8.0.12" but 8.0.12 is not yet release

[2018-07-05 13:12] leofeyer commented on #92
As discussed in Mumble on July 5th, we want to remove the composer.lock file.

[2018-07-05 14:52] xchs commented on #92
Isn't that any longer true what @naderman said on the conference?

https://www.youtube.com/watch?v=9rr84XofWsA&t=1843

[2018-07-05 16:03] ausi commented on #92
I think this relates to actual projects, not libraries or editions.

[2018-07-11 14:54] leofeyer commented on #93
https://github.com/contao/installation-bundle/blob/4c1765a398cadea2ff683ac039ac2576b39ac608/src/InstallTool.php#L317-L337

@ausi Do I quote only `admin` or all field names?

[2018-07-11 16:06] ausi commented on #93
AFAIR we agreed on only quoting reserved field names in hardcoded queries.

[2018-07-11 18:40] leofeyer commented on #93
Ok. Looks crappy though. 😄

[2018-07-12 06:35] leofeyer commented on #93
Fixed in 86f04c1394031ed00331625b8d565ee4944d3f0c and contao/core-bundle@4b2f9d2b96577d22a49c218bcdb48f67bd2051a3.

[2018-07-12 06:35] #93 closed, assigned to leofeyer

[2018-07-16 14:22] leofeyer commented on #92
Removed in contao/managed-edition@0e2ab8ca64b4ca2bdb97e9fda4258fa3115d5dea.

[2018-07-16 14:22] #92 closed, assigned to nobody

[2018-08-14 14:24] m-vo opened #96 "Supply alternative for runonce.php"
Currently the only way to provide database migrations for an extension is to provide a `runonce.php` (right?).

This has several drawbacks:
- IMHO the system should not delete source files
- does not fit class loading scheme
- constructor DI / using services does not work
- boilerplate code needed for instantiation
- simply does not work / throws exception when file is not 'inside' the contao root

[2018-08-14 15:02] m-vo commented on #96
Ok, just found out there is also the `sqlCompileCommands` hook that can be used. That's a usable approach. But still I think this could be generalized.

[2018-08-17 10:05] fritzmg opened #97 "handle mod_article_teaser and mod_article_plain selection"
In Contao 3 you were able to select a variety of custom template for articles, including `mod_article_plain` and `mod_article_teaser` which were removed in Contao 4.

However, this will lead to an
[code]
error after upgrading to Contao 4 if these template were previously set as a `customTpl` manually (for whatever reason) and no such template is present as a custom template.

Thus may be `Version4

[2018-08-21 15:57] leofeyer commented on #96
Ideas for replacing the `runonce.php` concepts are discussed here: https://github.com/contao/core-bundle/issues/1223

[2018-08-21 15:57] #96 closed, assigned to nobody

[2018-08-21 16:05] ghost commented on #97
The issue has been moved to contao/contao#21.

[2018-08-21 16:05] #97 closed, assigned to nobody

[2020-04-01 20:12] stefansl opened #98 "Adjust server_version in config.yml"
I had an issue while moving a Contao installation from one server to another
(C4.9.1 Debian 9 / MariaDB 10.1.44 -> C4.9.1 / Debian 10 / MariaDB 10.3.22).

The install tool offered a lot of ALTER TABLE ... DEFAULT NULL statements. Executing those statements via install tool or contao:migrate did not work (actually it did not execute any statement).

After a little bit of research I found out, it's

[2020-06-11 15:57] leofeyer commented on #50
We now have a migrations framework (Contao 4.9+). 🎉

[2020-06-11 15:57] #50 closed, assigned to nobody